﻿html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
    font-family: Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;;
    font-size: 19px;
    padding: 0 0 3em 0;
    float: none;
    margin: 0 auto;
    line-height: 1.42857143;
    color: #777777;
    background-color: #e1e1e1;
    height: 100%;
    background-position-y: -200px;
    background-image: url(/images/1498061656-16197256-472x472x472x472x0x0-inky-3.png);
    background-position: left 30% top;
    background-repeat: no-repeat;
    background-size:  initial;
    -webkit-background-size: initial;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.header-text {
    word-wrap: break-word;
    font-family: Open Sans;
    font-weight: 300;
}

.header-text h2, .header-text p, .header-text ul, .header-text ol {
    font-size: 26px;
    font-weight: bold;
    color: rgb(5, 92, 179);
    line-height: 34px;
}

.header-text h1 {
    font-size: 44px;
    font-weight: bold;
    color: rgb(5, 92, 179);
    line-height: 34px;
}

.header-text h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(5, 92, 179);
    line-height: 23px;
}

.header-text #left{
        text-align: left;
}

.move-down {
    padding-top: 160px;
}

.white-panel {
    min-height: 250px;
    background-color: white;
    border-radius: 5px;
    /*background-image: url(/images/1498061672-16298491-160x136-splat-magenta.png);
    background-repeat: no-repeat;
    background-position: bottom right;
        */
    padding: 5px;
}

.dynamic-button {
    background-color: #00cc0d;
    color: #ffffff;
    border: none;
    box-shadow: 0px 5px 0px #0066cc;
    -moz-box-shadow: 0px 5px 0px #0066cc;
    -webkit-box-shadow: 0px 5px 0px #0066cc;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 209px;
    max-width: 90%;
    height: 52px;
    z-index: 7;
    line-height: 21px;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans;
    border-radius: 41px;
}

.dynamic-button:active {
    box-shadow: 0px 2px 0px #0066cc;
    -moz-box-shadow: 0px 2px 0px #0066cc;
    -webkit-box-shadow: 0px 2px 0px #0066cc;
}

.dynamic-button:hover {
    background-color: #0066cc;
    border-color: #0066cc;
}

.dynamic-button-inversed {
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    box-shadow: 0px 5px 0px #00cc0d;
    -moz-box-shadow: 0px 5px 0px #00cc0d;
    -webkit-box-shadow: 0px 5px 0px #00cc0d;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 209px;
    max-width: 90%;
    height: 52px;
    z-index: 7;
    line-height: 21px;
    font-size: 18px;
    font-weight: 700;
    font-family: Open Sans;
    border-radius: 41px;
}

    .dynamic-button-inversed:active {
        box-shadow: 0px 2px 0px #00cc0d;
        -moz-box-shadow: 0px 2px 0px #00cc0d;
        -webkit-box-shadow: 0px 2px 0px #00cc0d;
    }

    .dynamic-button-inversed:hover {
        background-color: #00cc0d;
        border-color: #00cc0d;
    }


@media screen and ( max-width: 620px ), 
       screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1280px ) and ( max-device-height: 720px ), 
       screen and ( max-width: 999px ) and ( -webkit-min-device-pixel-ratio: 1.5 ) and ( max-device-width: 1000px ) {
            body:not( .tablet ) .dynamic-button {
                width: 338px;
                max-width: 90%;
                height: 61px;
                max-height: 90%;
                z-index: 7;
                line-height: 61px;
                font-size: 18px;

            }
}

.centralize {
    margin-right: 15px;
    /*margin-left: 15px;*/
}

.blur-around {
    background-color: rgba(225, 225, 225, 0.70);
}

footer {
    background-image: none;
    background-color: #202020;
    background-repeat: repeat;
    background-position: top left;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 42px;
    text-align: center;
    bottom: 0px;
}

.visit-button-container {
    text-align: right;
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) {
    .ink4inky-page .popup-responsive {
        position: sticky;
        margin-top: 0px;
        width: 100%;
        margin-left: 50px;
        min-width: 100%;
        top: 0px;
        left: 0px;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        border-radius: 4px;
        box-shadow: 5px 5px 20px 0px #777;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 10px;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    .visit-button-container {
        text-align: center;
    }

}

.ink4inky-page #feedback {
    color: #0066cc;
    line-height: 43px;
    font-size: 33px;
    position: fixed;
    top: 2%;
    right: 2%;
    display: inline;
    z-index: 9999;
    background: transparent;
    border: 2px solid #0066cc;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    
}

.ink4inky-page .modal-header {
    background-color: rgb(5, 92, 179);
    border-radius: 5px 5px 0 0;
}

.ink4inky-page .modal-header,
.ink4inky-page .close {
    color: white;
}

.ink4inky-page .modal-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 34px;
}

.ink4inky-page .modal-body {
    color: rgb(5, 92, 179);
}

