﻿.ink4inky-page {
    font-family: 'Nunito Sans', Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    font-size: 19px
}

    .ink4inky-page .brand {
        display: block;
        width: 100%;
        text-align: center;
    }



    .ink4inky-page .navbar-header {
        width: 100%;
        text-align: center;
    }

.ink4inky-page .navbar .navbar-brand {
    position: absolute;
}

.ink4inky-page #logo img {
    margin-left: -40px;
    background-color: rgba(255,255,255,.5);
    border-radius: 2px;
}

.ink4inky-page #printer-finder {
    /*padding-top: 100px;*/
}

    .ink4inky-page #printer-finder .blue-background {
        background-image: url(/images/top-section.png);
        background-color: #0080ff;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto auto;
        -webkit-background-size: auto auto;
        -moz-background-size: auto auto;
        -o-background-size: auto auto;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        min-height: 800px;
        /*padding-top: 80px;*/
    }



.ink4inky-page .h1 {
    line-height: 30px;
    font-size: 38px;
    font-weight: bold;
}

.ink4inky-page .h2 {
    line-height: 29px;
    font-size: 28px;
    font-weight: bold;
}

.ink4inky-page .h3 {
    line-height: 29px;
    font-size: 21px;
    font-weight: bold;
}

.ink4inky-page .h4 {
    line-height: 20px;
    font-size: 17px;
}

.ink4inky-page .color-icon {
    width: 25px;
    height: 35px;
}

.ink4inky-page .ink-icon {
    font-size: 32px;
}

select.magenta,
option.magenta {
    color: magenta;
}

select.cyan,
option.cyan {
    color: cyan;
}

select.yellow,
option.yellow {
    color: #CCCC00;
}

select.black,
option.black {
    color: black;
}

.ink4inky-page #octopus-behind {
    margin-top: 20px;
    position: relative;
    /*background: url(/images/1498058767-16299631-190x232-inky-splat-2.png);*/
    background-repeat: no-repeat;
    background-position: left top;
    height: 232px;
    min-height: 130px;
}



.ink4inky-page .white-box {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 5px 5px 20px 0px #777;
}

.ink4inky-page #basket {
    width: 50%;
    margin-left: 50%;
    min-height: 45px;
    margin-bottom: 25px;
}


@media (min-width: 761px) {
    .ink4inky-page .main {
        margin-top: 150px;
    }

    .ink4inky-page #over-octopus {
        position: absolute;
        min-width: 300px;
        margin-top: -180px;
       /* margin-left: 40px;*/
        width: 100%;
    }

    .ink4inky-page .justify-align {
        text-align: justify;
    }

    .ink4inky-page #printer-finder .blue-background {
        min-height: 800px;
    }
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) {
    .ink4inky-page .container {
        width: 100%;
    }

    .ink4inky-page .main {
        margin-top: 0px;
    }

    .ink4inky-page .justify-align {
        text-align: left;
    }

    .ink4inky-page #explanations {
        margin-top: 100px;
    }

    .ink4inky-page #over-octopus {
        position: absolute;
        min-width: 300px;
        margin-top: -200px;
        width: 100%;
        margin-left: -10px;
    }

    .ink4inky-page #printer-finder .blue-background {
        min-height: 100%;
        padding-bottom: 350px;
    }
}

.ink4inky-page .input-group {
    width: 75%;
    min-width: 75%;
    margin: 0 auto;
}

.ink4inky-page .form-control {
    width: 100%;
}

.ink4inky-page select {
    border-color: #555555;
    background-color: #ffffff;
    color: #000000;
    /*font-family: FontAwesome, 'Nunito Sans', 'sans-serif';*/
    font-weight: 400;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    margin: 8px 0;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 43px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/images/select-arrow-drop-down.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 9px;
    -moz-padding-start: 5px;
}

.ink4inky-page .spot-left-bottom {
    margin-top: -80px;
    margin-left: -80px;
}

.ink4inky-page .spot-right-bottom {
    margin-top: -50px;
    margin-left: 200px;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*
.cyan {
    background-image: url(/images/inks/cyan.png);
}

.magenta {
    background-image: url(/images/inks/magenta.png);
}

.yellow {
    background-image: url(/images/inks/yellow.png);
}

.black {
    background-image: url(/images/inks/black.png);
}

.multipack {
    background-image: url(/images/inks/multipack.png);
}
    */

.cc-selector input:active + .drinkcard-cc {
    opacity: 1;
}

.cc-selector input:checked + .drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    /*
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
        */
    -webkit-filter: brightness(1.8) opacity(.3);
    -moz-filter: brightness(1.8) opacity(.3);
    filter: brightness(1.8) opacity(.3);
}

    .drinkcard-cc:hover {
        /*
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
        */
        -webkit-filter: brightness(1.2) opacity(.7);
        -moz-filter: brightness(1.2) opacity(.7);
        filter: brightness(1.2) opacity(.7);
    }

/* Extras */
a:visited {
    color: #888
}

a {
    color: #444;
    text-decoration: none;
}

p {
    margin-bottom: .3em;
}

.ink4inky-page .dynamic-button {
    background-color: #00cc0d;
    color: #ffffff;
    border: none;
    box-shadow: 0px 5px 0px #0066cc;
    -moz-box-shadow: 0px 5px 0px #0066cc;
    -webkit-box-shadow: 0px 5px 0px #0066cc;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    width: 209px;
    height: 52px;
    z-index: 7;
    line-height: 21px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Nunito Sans", "Open Sans";
    border-radius: 10px;
    margin: 10px 0px 10px;
}

    .ink4inky-page .dynamic-button:active {
        box-shadow: 0px 2px 0px #0066cc;
        -moz-box-shadow: 0px 2px 0px #0066cc;
        -webkit-box-shadow: 0px 2px 0px #0066cc;
    }

    .ink4inky-page .dynamic-button:hover {
        background-color: #0066cc;
        border-color: #0066cc;
    }



.ink4inky-page footer {
    background-image: none;
    background-color: #202020;
    background-repeat: repeat;
    background-position: top left;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: auto;
    border-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    height: 42px;
    text-align: center;
}

    .ink4inky-page footer .container-fluid {
        padding-top: 10px;
    }

button[disabled],
html input[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}


@media (min-width: 761px) {
    .ink4inky-page .popup-responsive {
        position: fixed;
        margin-top: -300px;
        width: 800px;
        margin-left: -300px;
        min-width: 800px;
        border: solid 1px black;
        left: 50%;
        top: 50%;
        background-color: white;
        z-index: 100;
        border-radius: 4px;
        box-shadow: 5px 5px 20px 0px #777;
    }
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) {
    .ink4inky-page .popup-responsive {
        position: fixed;
        /*position: -webkit-sticky;*/
        top: 0px;
        margin-top: 0px;
        width: 100%;
        /*margin-left: 50px;*/
        min-width: 100%;
        left: 0px;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        border-radius: 4px;
        box-shadow: 5px 5px 20px 0px #777;
        max-height: 60%;
        overflow-y: auto;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
	
}

.ink4inky-page .no-paddings {
    padding-left: 0px;
    padding-right: 0px;
}

.ink4inky-page .close-button {
    margin-top: 0px;
    margin-right: 20px;
    padding-right: 20px;
    opacity: .7;
}

.ink4inky-page table thead {
    color: #0080ff;
    font-weight: bold;
}

.ink4inky-page #basket-popup-title {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    color: #0080ff;
}

.ink4inky-page .pad-5px-from-top {
    padding-top: 5px;
}

.ink4inky-page #basket-items-count,
.ink4inky-page #edit-basket-button {
    color: #0080ff;
}


