﻿.box {
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    /*border: 1px solid #f7941e;*/
}

.box:nth-child(odd) {
    background-color: rgba(188, 189, 192, 0.1);
}

.context-holder {
    position: relative;
    min-height: 200px;
}

.context-holder .product-image {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 150px;
    height: auto;
    max-height: 200px;
}

.context-holder .product-title {
    position: absolute;
    left: 175px;
    top: 5px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}

.context-holder .product-manufacturer {
    position: absolute;
    left: 175px;
    top: 25px;
    width: auto;
    font-size: 14px;
    font-weight: bold;
}

.context-holder .product-prices {
    position: absolute;
    right: 80px;
    top: 5px;
    width: auto;
    font-size: 14px;
    color: #f7941e;
    line-height: 18px;
    font-style: oblique;
    text-decoration: line-through;
    font-weight: bold;
}

.context-holder .product-our-prices {
    position: absolute;
    right: 80px;
    top: 25px;
    width: auto;
    font-size: 14px;
    line-height: 20px;
    color: orangered;
    font-weight: bold;
}

.context-holder .product-details {
    position: absolute;
    left: 175px;
    top: 55px;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    /*font-weight: bold;*/
}

.context-holder .product-details li {
    font-size: 12px;
    line-height: 14px;
    /*font-weight: bold;*/
}


.filter-box {
    /* border: 1px solid #f7941e;*/
    min-height: 100%;
    margin-top: 55px;
    height: 100%;
}

.row {
    overflow: hidden;
}

.hide-overflow {
    overflow: hidden !important;
}

[class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.icheck-input {

}

.main-label {
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.list-label {
    color: #000000;
    font-weight: bold;
}

.icheck-label {
    color: #000000;
    font-size: small;
}

.list-area {
    overflow: auto;
    max-height: 500px;
    background-color:rgba(188, 189, 192, 0.1);
    padding: 5px;
}

.slider-area {
    margin: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slider-area .irs-bar,
.slider-area .irs-bar-edge,
.slider-area .irs-from,
.slider-area .irs-to,
.slider-area .irs-single,
.slider-area .irs-single::after {
    background: #f7941e;
}


.slider-area .irs-from::after,
.slider-area .irs-to::after,
.slider-area .irs-single::after {
    border-top-color: #f7941e;
}


.icheck-expander {
    color: #f7941e;
    font-weight: bold;
    cursor: pointer;
}

.box .product-image {
    left: 5px;
    top: 5px;
    width: 150px;
    height: auto;
    max-height: 200px;
}

.box .product-title {
    font-size: 20px;
    font-weight: bold;
}

.box .product-manufacturer {
    font-size: 14px;
    font-weight: bold;
}

.box .product-prices {
    font-size: 14px;
    color: #f7941e;
    line-height: 18px;
    font-style: oblique;
    text-decoration: line-through;
    font-weight: bold;
}

.box .product-our-prices {
    font-size: 14px;
    line-height: 20px;
    color: orangered;
    font-weight: bold;
}

.box .product-details {
    font-size: 14px;
    line-height: 18px;
    /*font-weight: bold;*/
}

.box .product-details li {
    font-size: 12px;
    line-height: 14px;
    /*font-weight: bold;*/
}

.box .no-padding-left {
    padding-left: 0px;
}

.box .btn-warning {
    background-color: #f7941e;
}
.box .form-control-plaintext {
    max-width: 50px;
}

.box .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-area ul {
    overflow: hidden;
}

.box a:hover {
    color: #f7941e;
    text-decoration: none;
    text-shadow: 1px 1px 0px #000000;
}

.header-container {
    border: #f7941e solid 1px;
    margin-bottom: 5px;
    border-radius: 5px 5px 0px 0px;
}

.header-row {
    background-color: #f7941e;
}

