﻿body{
  color: #000000;
  font-family: 'Open Sans';
  background: #ffffff;
  font-size: 16px;
}
@font-face{
  font-family: "gotham-book";
  src:url(/Content/images/gotham-book.ttf);
}



/*======================================================
           COMMAN CLASS
  ======================================================*/
ul{
  margin: 0px;
  padding: 0px;
    list-style: none;
}
li {
  padding: 0px;
}
p{
  margin: 0px;
  font-size: 14px;
  color: #333333;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: none;
}
a:hover{
  color: #00b5e2;
}

.uppercase{
    text-transform: uppercase;
}
/*----------------------FONT COLOR CLASSES-------------------------*/

.whiteclr{
  color: #fff !important;
}
.blackclr{
  color: #000 !important;
}


.blueclr{
  color: #06476b !important;
}
.redclr{
  color: #e66532 !important;
}
.orangeclr{
  color: #ff9933 !important; 
}
/*==========       BASIC CLASSES     ==========*/

/* ========================================= */
/* =============SPACE CLASSES============== */
/* ========================================= */
.space5{
  margin-top: 5px;
}
.space10{
  margin-top: 10px;
}
.space15{
  margin-top: 15px;
}
.space20{
  margin-top: 20px !important;
}
.space25{
  margin-top: 25px;
}
.space30{
  margin-top: 30px !important;
}
.space40{
  margin-top: 40px;
}
.space50{
  margin-top: 50px !important;
}
.space60{
  margin-top: 60px;
}
.space70{
  margin-top: 70px;
}
.space80{
  margin-top: 80px;
}
.space90{
  margin-top: 90px;
}
.space100{
  margin-top: 100px;
}
.space150{
  margin-top: 150px;
}
/* ========================================= */
/* =============FONT SIZE CLASSES============== */
/* ========================================= */
.fsize8{
  font-size: 8px !important;
}
.fsize10{
  font-size: 10px !important;
}
.fsize12{
  font-size: 12px !important;
}
.fsize13{
  font-size: 13px !important;
}
.fsize14{
  font-size: 14px !important;
}
.fsize16{
  font-size: 16px !important;
}
.fsize18{
  font-size: 18px !important;
}
.fsize20
{
  font-size: 20px !important;
}
.fsize22{
  font-size: 22px !important;
}
.fsize24{
  font-size: 24px !important;
}
.fsize26{
  font-size: 26px;
}
.fsize28{
  font-size: 28px;
}
.fsize30{
  font-size: 30px !important;
}
.fsize36{
  font-size: 36px !important;
}
.fsize40{
  font-size: 40px !important;
}
.fsize46{
  font-size: 46px !important;
}
.fsize50{
  font-size: 50px !important;
}
.fsize60{
  font-size: 60px !important;
}
.fsize70{
  font-size: 70px !important;
}
.fsize80{
  font-size: 80px;
}
.fsize90{
  font-size: 90px;
}
.fsize100{
  font-size: 100px !important;
}

/* ========================================= */
/* =============FONT WEIGHT CLASSES============== */
/* ========================================= */
.f100{
  font-weight: 100;
}

.f200{
  font-weight: 200;
}
.f300{
  font-weight: 300;
}
.f400{
  font-weight: 400;
}
.f500{
  font-weight: 500;
}
.f600{
  font-weight: 600;
}
.f700{
  font-weight: 700;
}
.f800{
  font-weight: 800;
}

/* ========================================= */
/* =============LETTERSPACE CLASSES============== */
/* ========================================= */
.lspace03{
  letter-spacing: 0.3px;
}
.lspace06{
  letter-spacing: 0.6px;
}
.lspace1{
  letter-spacing: 1px;
}
.lspace2{
  letter-spacing: 2px;
}
.lspace3{
  letter-spacing:3px;
}

/* ========================================= */
/* =============LINEHEIGHT CLASSES============== */
/* ========================================= */
.lheight15{
  line-height: 15px;
}
.lheight13{
  line-height: 13px;
}
.lheight20{
  line-height: 20px !important;
}
.lheight22{
  line-height: 22px !important;  
}
.lheight25{
  line-height: 25px !important;
}
.lheight30{
  line-height: 30px !important;
}
.lheight35{
  line-height: 35px !important;
}
.lheight40{
  line-height: 40px !important;
}
.lheight45{
  line-height: 45px !important;
}
.lheight50{
  line-height: 50px !important;
}
.lheight60{
  line-height: 60px !important;
}
h1,h2,h3,h4,h5,h6
{
font-family: 'Open Sans', sans-serif;
}



/*=============================start css=======================*/
header{
  height: 114px;
}

html, body{
  width: 100%;
  height: 100%;
}

#banner {
    width: 100%;
    height: 85%;
    position: relative;
    display: table;
    background: url(/Content/images/bg2.png) no-repeat;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


#banner2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    background: #ffffff;
    background-size: contain;
}
.banner-caption{
  vertical-align: middle;
  display: table-cell;
  width: 100%;
  height: 100%; 
}

.form-control, .form-group .form-control{
  border:1px solid #D2D2D2;
  padding: 0 10px;
  position: relative;
  box-shadow: 2px 3px 5px #cccccc;
  background-image: none;
  height: 45px;
  background:#ffffff;
}
input:after{
  background: url(/Content/images/search.png)no-repeat;
  position: absolute;
  top: 0%;
  right: 0%;
  content: "";
  width: 40px;
  height:40px;

}

.blockbtn{
  color: #ffffff;
  border-radius: 0;
  background: #bcbdc0;
  border:2px solid #ffffff;
  font-size: 18px;
  padding: 6px 20px;
  background: #bcbdc0;
  box-shadow: 2px 1px 2px 2px rgba(153, 153, 153, 0.14), 
              0 3px 1px -2px rgba(153, 153, 153, 0.2), 
              0 1px 5px 0 rgba(153, 153, 153, 0.12);
}
header#menu{
  padding: 20px 0;
}

.blockbtn:hover{
background: #bcbdc0;
color: #ffffff;
  border:2px solid #ffffff;
  font-size: 18px;
  padding: 6px 20px;
  box-shadow: 2px 1px 2px 2px rgba(153, 153, 153, 0.14), 
              0 3px 1px -2px rgba(153, 153, 153, 0.2), 
              0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

#menu2{
  background: #bcbdc0;
  padding: 20px 0;
}
.whiteclr{
  color: #ffffff !important;
}
.form_box{
  border:1px solid #bcbdc0;
  padding:20px;
}

.form_title{
  background: #bcbdc0;
}
.form_title h3{
  color: #ffffff;
  margin: 0;
  font-size: 26px;
  padding: 10px 0;
}
.form-group{
  text-align: left;
}
.form-group.label-floating label.control-label, 
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 14px;
    line-height: 1.42857;
    left: 9px;
}
.lightgrayclr{
  color: #bcbdc0 !important;
}
.form_box .form-group a {
    font-size: 12px;
    font-style: italic;
    color: #bcbdc0 !important;
    text-decoration: underline;
}
.form-group label {
  font-weight: 800;
}
.loginbtn{
  background: #f7941e !important;
  padding: 8px 40px !important;
  color: #ffffff !important;
}
.form_box hr{
  border-top:1px solid #bcbdc0;
}
.btn-default:focus, .btn-default.focus{
 border:2px solid #ffffff !important;
}
 .btn.btn-default:active {
border:2px solid #ffffff !important;
 }

#footer1{
  display: table-footer-group;
    vertical-align: bottom;
    width: 100%;
    height: 10%;
    padding-bottom: 20px;
 }
.footer_list li p, .footer_list li a {
    font-size: 12px;
    color: #777777;
    text-transform: lowercase;
}
.footer_list li{
  position: relative;
}

.footer_list li:after {
    content: "";
    width: 1px;
    height: 13px;
    position: absolute;
    top: 41%;
    left: 0%;
    background: #777777;
}
.footer_list li:nth-child(1):after{
  content: none;
}
.form_box .form-group {
    padding-bottom: 7px;
    margin: 15px 0 0 0;
}
.form_box .checkbox .checkbox-material .check{
  border-radius: 0;
  border:1px solid #bcbdc0;
}
.form_box .checkbox label, .form_box .radio label, .form_box label{
  font-size: 12px;
}
.item_list li a{
  font-size: 14px;
  color: #ffffff;
}

.item_list li {
    position: relative;
    padding: 0 10px;
}
.item_list li:after {
    content: "";
    width: 1px;
    height: 19px;
    position: absolute;
    top: 11%;
    left: 0%;
    background: #ffffff;
}
.item_list li:nth-child(1):after {
  content: none;
}
.item_list li:nth-child(3):after{
  top: 20%;
}

header .form-group{
  margin:0;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">\00a0";
}
.breadcrumb > .active{
  color: #f7941e ;
  font-size: 12px;
  position: relative;
}
/*.breadcrumb > .active:after {
    content: "";
    width: 77px;
    height: 1px;
    background: #f7941e;
    position: absolute;
    bottom: 0;
    left: 20%;
}*/
.breadcrumb > li a{
  font-size: 12px;
  color: #777777;
}
.breadcrumb{
  background: transparent;
  padding: 0;
}
.filter2 .form-control{
  border:0;
  box-shadow: none;
  font-size: 13px;
  font-weight: 600;
  height: 20px;
}
select {
    -webkit-appearance: none; 
}
.form-group.is-focused select.form-control{
  background: none;
}
.breadcrumb{
  margin-bottom: 0;
}
.pro_detail ul{
  border:1px solid #777777;
}
.pro_detail ul li{
  border-right:1px solid #777777;
}
.pro_detail ul li:last-child{
  border-right:0;
}
.pro_box{
  padding: 20px 0px;
  width: 100%;
}
.pro_box p{
  font-size: 12px;
  color: #333333;
  font-weight: 600;
  line-height: 20px;
}
.box {
    margin-top: 5px;
    padding: 5px;
    /*border: 1px solid #f7941e;*/
}
.rightborder{
  border-right:1px solid #777777;
}

.pro_detail .list {
 display: flex;
 flex-wrap: wrap;
}
.pro_detail .list-item {
 display: flex; 
 padding: 0.5em; 
}
.orangeclr{
  color: #f7941e !important;
}
.score_box{
  background: #bcbdc0;
  padding:15px;
  width: 100%;
}
.score_list li p{
  font-size: 20px;
  color: #000000;
}
.score_white_box{
  background: #ffffff;
  padding: 20px 10px;
}
.score_inner_text p{
  font-size: 14px;
  line-height: 30px;
}
.selectbtn {
    background: #f7941e !important;
    padding: 7px 15px !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #ffffff !important;
}
.remove p {
    font-size: 13px;
    line-height: 18px;
    position: relative;
    z-index: 99;
}
.remove a{
  font-size: 12px;
  color: #f7941e ;
  text-decoration: underline;
   position: relative;
    z-index: 99;
}

.right-border{
  border-left:1px solid #bcbdc0;
}
.top50 {
    margin-top: -158px !important;
}


.underline{
  text-decoration: underline;
}

.list2 {
 display: flex;
 flex-wrap: wrap;
}
.list-item2 {
 display: flex; 
 padding: 0.5em; 
}
.pagination > li > a, .pagination > li > span {
    border: 0;
    border-radius: 0px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: #bcbdc0;
    border: 2px solid #ffffff;
    box-shadow: 2px 3px 5px #cccccc;
    cursor: pointer;
}

.pagination > .active > a, 
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover{
  background: #f7941e ;
  border-color: #f7941e;
    color: #FFFFFF;
    border: 2px solid #ffffff;
    box-shadow: 2px 3px 5px #cccccc;
}

.pagination > li > a:hover,
.pagination > li > span:hover
{
  background: #f7941e ;
  border-color: #f7941e;
    color: #FFFFFF;
    border: 2px solid #ffffff;
    box-shadow: 2px 3px 5px #cccccc;
}

.plain-text,
.plain-text
{
    color: #bcbdc0 !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    background: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
    cursor: auto !important;

}


.basket_title  h3{
  font-size: 22px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}


.local .radio label {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    color: #000;
    font-size: 12px;
}
.local .radio label span {
    display: block;
    position: absolute;
    left: -1px;
    top: 2px;
    transition-duration: 0.2s;
}
.local .radio{
  margin-top: 0;
  margin-bottom: 0;
}
.local p{
  font-size: 13px;
  font-weight: 800;
  line-height: 10px;
}

.local .radio input[type=radio]:checked ~ .check {
    background-color: #f7941e;
}

.local .radio input[type=radio]:checked ~ .circle {
    border-color: #f7941e;
}

.quality .form-control{
  width: 40px;
  text-align: center;
height: 30px;
  box-shadow: none;
}
.price_detail .form-group{
  margin-top: 0;
}


.local{
  padding: 0 20px;
}

.quality .table > tbody > tr > td{
  vertical-align: middle;
  border-top: 0;
}
.table > thead > tr > th{
  border-bottom: 0;
}

/*.underline{
  border-bottom: 1px solid #bcbdc0;
}*/
.fsize9{
  
}

.remove_text{
  font-size: 9px;
  color: #bcbdc0;
  position: relative;
}
.remove_text:after{
  content: "";
  height: 1px;
  width: 35px;
  background: #bcbdc0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.pro_description h3{
  margin: 0;
  font-weight: 800;
  font-size: 20px;
}

.list li p {
    position: relative;
    margin-left: 18px;
}
.list li p:after {
    content: "";
    background: url(/Content/images/checkbox-blank-circle.png)no-repeat;
    position: absolute;
    top: 35%;
    left: -2%;
    width: 7px;
    height: 7px;
}
.price_detail .form-control {
    border-radius: 20px;
    box-shadow: none;
    /* width: 60px; */
    height: 35px;
    text-align: center;
    border: 1px solid #333333;
    padding: 0 20px;
}
.span3{
  border:1px solid #dcdcdc;
}
.carousel{
  border-right: 0 !important;
}

.pens.breadcrumb > li a{
  border-bottom: 0 !important;
}



.form-group.is-focused .form-control{
  background: #ffffff !important;
}

table{
  width: 100% !important;
}
.table{
  width: 100% !important;
}
.filter
{
  position: relative;
}
.material-input2 {
    content: "";
    background: url(/Content/images/layer22.png) no-repeat;
    width: 40px;
    height: 41px;
    position: absolute;
    top: 3%;
    right: 0%;
    z-index: 999;
    cursor:pointer;
}
.material-input2.top2 {
   top: 2px;
}





.form-group.is-focused label, .form-group.is-focused label.control-label{
  color: #f7941e;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check{
  background: #f7941e ;
  color: #f7941e ;
}

input[type=checkbox]:checked ~ span{
  color: #f7941e ;  
}
.form_box .form-group a:hover{
   color: #f7941e !important;
}

#basket .item_list li:after {
    top: 20%;
}
select.form-control{
  text-align: center;
}

.line_hr{
  border-right:1px solid #D2D2D2;
}
.brand_drop{
  background: transparent;
    color: #333333;
    font-weight: 600;
    box-shadow: none;
}
.brand_drop:hover, .btn:active, .btn:focus{
  background: transparent;
    color: #333333;
    font-weight: 600;
    box-shadow: none;
}
.basketspace{
  margin-top: 20px;
}
/*.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .open > .btn.btn-default.dropdown-toggle, .open > .btn.btn-default.dropdown-toggle:focus, .open > .btn.btn-default.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn, .navbar .navbar-nav > li > a.btn:hover, .navbar .navbar-nav > li > a.btn:focus, .navbar .navbar-nav > li > a.btn:active, .navbar .navbar-nav > li > a.btn.active, .navbar .navbar-nav > li > a.btn:active:focus, .navbar .navbar-nav > li > a.btn:active:hover, .navbar .navbar-nav > li > a.btn.active:focus, .navbar .navbar-nav > li > a.btn.active:hover, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle:focus, .open >
.navbar .navbar-nav > li > a.btn.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-default, .navbar .navbar-nav > li > a.btn.btn-default:hover, .navbar .navbar-nav > li > a.btn.btn-default:focus, .navbar .navbar-nav > li > a.btn.btn-default:active, .navbar .navbar-nav > li > a.btn.btn-default.active, .navbar .navbar-nav > li > a.btn.btn-default:active:focus, .navbar .navbar-nav > li > a.btn.btn-default:active:hover, .navbar .navbar-nav > li > a.btn.btn-default.active:focus, .navbar .navbar-nav > li > a.btn.btn-default.active:hover, .open >
.navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle, .open >
.navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:focus, .open >
.navbar .navbar-nav > li > a.btn.btn-default.dropdown-toggle:hover{
  background: transparent;
    color: #333333;
    font-weight: 600;
    box-shadow: none;
}*/
.filter2 .dropdown-menu a{
  display: block;
  padding: 10px;
}
.filter2 .dropdown-menu a:hover{
  background: #f7941e;
  color: #ffffff;
}
.filter2 .dropdown-menu{
  min-height: 200px;
}


@media (min-width: 1300px){
.container {
    width: 1280px;
}

}
@media(max-width: 1700px){
  .item_list li a{
    font-size: 12px;
  }
  .basket_title  h3{
    font-size: 18px;
  }
  .local {
    padding: 0 10px;
}
.local p {
    font-size: 12px;
    line-height: 15px;
}
}
@media(max-width: 1440px){
#banner2  .visit .selectbtn{
    font-size: 10px !important;
  }
  #banner2  .visit img{
    width: 50px;
  }
  .hidebr {
    display: none;
  }
  .basket_title  h3{
    font-size: 18px;
  }
  .local {
    padding: 0;
}
.local p{
  font-size: 11px;
}
#item_detail .loginbtn {
    background: #f7941e !important;
    padding: 8px 26px !important;
    font-size: 12px;
}

#item_detail .banner-caption1 .col-md-3 {
    width: 35%;
}
#item_detail .banner-caption1 .col-md-9 {
    width: 65%;
}
.item_list li a {
    font-size: 10px;
}
.item_list li {
    position: relative;
    padding: 0 6px;
}
.quality thead th{
  font-size: 12px;
}
.basketspace{
  margin-top: 70px;
}
.top50 {
    margin-top: -144px !important;
}
.score_box{
width:90%;
margin: 0 auto;
}
.remove p {
    font-size: 12px;
  }
}
@media(max-width: 1200px){
  .pull-right.visit{
    float: none !important;
    text-align: center;
    display: block;
  }
  .top50 {
    margin-top: -50px !important;
}

}





@media(max-width: 991px){
.top50 {
    margin-top: 0 !important;
}
#item_detail .banner-caption1 .col-md-3 {
    width: 100%;
}
#item_detail .banner-caption1 .col-md-9 {
    width: 100%;
}

#banner {

    background-position: 0% 100%;
}
.item_list.list-inline.text-right {
    float: none;
    text-align: center;
}
.form_title {
    margin-top: 50px;
}
}
@media(max-width: 767px){
  .rightborder{
    border-right:0;
  }
  .logo img{
    display: block;
    margin: 0 auto;
  }
  .item_list.list-inline.text-right{
    float: none;
    text-align: center;
  }
  .navbar-fixed-top, .navbar-fixed-bottom{
    position: relative;
  }

  .pro_box {
    width: 100%;
    border: 1px solid #777777;
    padding: 20px;
}
.box {
    border: 0;
}
.top50 {
    margin-top: 0px !important;
}
#banner {
    background-position: 0% 100%;
}
#account #banner {
    background-position: 0% 104%;
}
.visit img.space70 {
    margin-top: 20px;
}
.banner-caption1 .row.space100{
  margin-top: 0 !important;
}

.item.text-right{
  float: none;
  text-align: center;
}
.filter.space20{
  margin-top: 5px !important;
}
.item.text-right.space20{
  margin-top: 0 !important;
}
.filter.space15 {
    margin-top: 5px;
}

.filter.space15 > * {
    margin-top: 5px;
}


#menu2 {
    background: #bcbdc0;
    padding: 10px 0;
}
#banner2{
  margin-top: 20px;
}
.form-control, .form-group .form-control{
  height: 40px;
}
.material-input2 {
    height: 35px;
   top: 3%;
}
#basket #banner2 {
     margin-top: 0px; 
}
header{
  height: auto;
}
}

@media(max-width: 580px){
  .remove p {
    font-size: 12px;
    line-height: 16px;
  }
  .orangeclr.fsize12{
    font-size: 10px !important;
  }
}

@media (max-width: 2048px){
    .alwaysTop150 {
        position: relative !important;
        top: 150px;
    }
}

@media (max-width: 768px){

    .alwaysTop150 {
        position: relative !important;
        top: 40px;
    }

}

/*
@media (max-height:760px) and (min-width:760px) {
    .alwaysTop100 {
        padding-top: 50px;
        position: relative;
    }
}

@media (max-height:690px) and (min-width:760px)  {
    .alwaysTop100 {
        padding-top: 80px;
        position: relative;
    }
}

@media (max-height:600px)  and (min-width:760px)  {
    .alwaysTop100 {
        padding-top: 100px;
        position: relative;
    }
}
*/

@media (min-height:601px){
    .alwaysTop100 {
        top: 80px;
        position: relative;
    }
}

@media (max-height:761px) and (min-width:760px) {
    .alwaysTop100 {
        top: 140px;
        position: relative;
    }
}



@media (min-width:768px) 
{
    .add-header-offset {
            top: 112px;
            position: relative;
    }
}

.image-holder {
    display:block; 
    width: 150px; 
    height: 150px; 
    min-width:150px; 
    margin-left: auto; 
    margin-right: auto;
}

DIV.pleasewait {
    opacity: .8;
    position:fixed;
    /*//width:120px; /*image width */
    /*height:120px; /*image height */
    display: inline-block;
    left:50%; 
    top:50%;
    margin-left:-138px; /*image width/2 */
    margin-top:-50px; /*image height/2 */
    z-index: 1052;
    overflow: auto;
    padding: 6px;
    border-radius: 4px;
}


DIV.modal-background
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1051;
}

.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

td, th {
    font-size: 12px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #f7941e !important;
    padding: 8px 40px !important;
    color: #ffffff !important;
}

input[type=checkbox]:after, input[type=radio]:after {
    background: none;
}

.clickable {
    cursor:pointer;
}

@-moz-document url-prefix() {
  select.form-control {
    padding-left: 5px;
    padding-right: 5px;
    /*background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px'\
           height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;*/
    -moz-appearance: none;
    appearance: none;
  }
}

select.form-control.custom {
  /*background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right center;*/
  padding-left: 5px;
  padding-right: 5px;
   border-radius: 3px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.order-by-select {
    display: inline-block;
    border: 2px solid #f7941e;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
        
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    /* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select.order-by-select {
        padding-right:30px;    
    }
}
    
    /* Since we removed the default focus styles, we have to add our own */
select.order-by-select:focus {
    -webkit-box-shadow: 0 0 3px 1px #f7941e;
    -moz-box-shadow: 0 0 3px 1px #f7941e;
    box-shadow: 0 0 3px 1px #f7941e;
}
    
/* Select arrow styling */
.order-by-select:after {
    content: '<i class="fa fa-arrow-down" aria-hidden="true"></i>';/*"▼";*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #f7941e;
    color: white;
        
    pointer-events:none;
        
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
    
.no-pointer-events select.order-by-select:after {
    content: none;
}

footer.all-way-bottom {
    padding: 0px;
    position: absolute !important;
    /*bottom: 0%;*/
    width: 100%;
}



#btn-login {
  right: 6%;
}

.btn-ishopbest {
  position: fixed;
  top: 6%;
  right: 1.5%;
  z-index: 9999;
  background: transparent;
  border: 2px solid #F7941D;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  height: 50px;
  width: 50px;
  text-align: center;
}

.btn-ishopbest i {
  color: #F7941D;
  line-height: 43px;
  font-size: 33px;
}
.btn-ishopbest:hover {
  background: #FFFFFF;
  border: 4px solid #F7941D;
}
.btn-ishopbest:hover i {
  color: #F7941D;
}


