/* ===========================================================
 * style.css v1.0
 * ===========================================================
 * Copyright 2015 Shivam Pandya - Tutorial Drive.
 * https://www.github.com/tutorialdrive
 *
 * Bootstrap Vertical Image Showcase v1.0
 * Create an Vertical Thumbnail Carousel For Twitter Bootstrap v3.0.3
 *
 * 
 * License: MIT License
 * http://opensource.org/licenses/MIT
 *
 * ========================================================== */
.carousel-indicators .active {
	position: absolute;
	top: 12% !important;
	width: 53px;
	height: 53px;
	background: #222;
}

.carousel-control {
	position: relative;
	/*top: 8% !important;
	left: 0px!important;*/
	width: 53px;
	height: 53px;
	/*margin-top: -38px !important;*/
	font-size: 30px !important;
	font-weight: 100;
	line-height: 44px !important;
	color: #FFF;
	text-align: center;
	background: #222;
	/*border: 3px solid #FFF;*/
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	/*border-radius: 23px;*/
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* --------- END --------- */

.carousel {
height: 100%;
margin-bottom: 0;
/* padding: 50px 40px 50px 0px; */
border-right: 1px solid #DDD;
}

/*.carousel-control {
	left: 107px;
}
.carousel-control.right {
	right: -5px;
	top:79%!important;
}*/



/*For top Indicator*/

.carousel-indicators-top {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators-top li {
	background: #333333;
}

.carousel-indicators-top .active {
	background: #333333;
}
 
 /* vertical start*/

.vertical .carousel-inner {
	padding-top:0px;
}

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
	top: 0;
}

.carousel.vertical .next {
	top: 100%;
}

.carousel.vertical .prev {
	top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}

.carousel.vertical .active.left {
	top: -100%;
}

.carousel.vertical .active.right {
	top: 100%;
}

.carousel.vertical .item {
	left: -9;
}​

/*Overwriten Bootstrap Classis*/
.small-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 1px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.custom-carousel-inner {
    overflow: hidden;
    position: relative;
    width: 74px !important;
    height: 100%;
}
.single-container {
    width: 70%;
}
.span3 {
    margin-top: 25px;
    width: 60px;
}
.single-container img {
    width: 68.5%;
    margin-left: 12px;
    display: block;
    margin: 0 auto;
}
.span3.active1{
	border:1px solid #f7941e !important;
}

#order-by-select select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
        
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    /* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #order-by-select select {
        padding-right:30px;    
    }
}
    
    /* Since we removed the default focus styles, we have to add our own */
#order-by-select select:focus {
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}
    
/* Select arrow styling */
#order-by-select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #bbb;
    color: white;
        
    pointer-events:none;
        
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
    
.no-pointer-events #order-by-select:after {
    content: none;
}