﻿<!--div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="form-inline" style="padding-top: 10px;">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" ng-model="searchKeywords" name="searchBox" class="form-control" size="150" placeholder="Enter search keywords here" />
                        <btn class="input-group-addon btn btn-sm" ng-click="onSearchClick()"><i class="glyphicon glyphicon-search"></i></btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div-->
<form class="navbar-form">
    <div class="input-group">
        <input type="text" name="keyword" placeholder="type here what you are looking for ..." size="300" class="form-control" ng-model="searchKeywords">
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="onSearchClick()"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </div>
</form>