﻿@font-face {
    font-family: "Chunkfive";
    src: url(/fonts/Chunkfive.otf) format("truetype");
}
p.customfont { 
    font-family: "Chunkfive", Verdana, Tahoma;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana, Tahoma, 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter; 

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

DIV.pleasewait {
    background: #FFFFFF;
    opacity: .6;
    position:fixed;
    /*//width:120px; /*image width */
    /*height:120px; /*image height */
    display: inline-block;
    left:50%; 
    top:50%;
    margin-left:-63px; /*image width/2 */
    margin-top:-63px; /*image height/2 */
    z-index: 1052;
    overflow: auto;
    padding: 6px;
    border-radius: 4px;
}


DIV.modal-background
{
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 1051;
}

DIV.modal-dialog {
    background-color: transparent;
    color: #000000;
    opacity: .9;
    position:fixed;
    left:50%; 
    top:50%;
    margin-left:-300px; /*image width/2 */
    margin-top:-300px; /*image height/2 */
    z-index: 1052;
    overflow: auto;
    padding: 6px;
    border-radius: 4px;

}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    /*background-color: #5bc0de;
    border-color: #5bc0de;*/
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.pagination > li > a, .pagination > li > span {
    border-radius: 10% !important;margin: 0 1px;
}

.pagination {
    margin: 0px;
}

.blue-background {
    background-color: #0063B4;
}

.red-background {
    background-color: #FE0000;
}

.green-background {
    background-color: #0FAD00;
}

.theme-error {
    color: #830707;
    /*text-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

.theme-error pre {
    color: #830707;
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 14px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #ff6a00;
}
.star-rating.readonly .star.filled {
  color: #ff6a00;
}