﻿@using CapSoft.Identity.Domain.Model;

@{
    ViewBag.Title = "Product Search";
    Layout = "~/Views/Shared/_LayoutWithAngular.cshtml";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/app/search/app.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/repos/productsRepository.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/repos/vendorSelectionRepository.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/repos/categoriesRepository.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/ProductsListCtrl.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/ProductDetailCtrl.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/BasketCtrl.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/PaginationTestCtrl.js"></script>


<script type="text/javascript">
                    window.appGlobals = {
                        module: "Home",
                        rootUrl: "@Url.Content("~")",
                        apiLocation: "@Url.Content("~")api/",
                        actionUri: "@Url.Action()",
                        currentController: "@ViewContext.RouteData.Values["controller"]"

                        @if (Request.IsAuthenticated) {
                            <text>, userAuthenticated: true</text>
                        }
                        else
                        {
                            <text>, userAuthenticated: false</text>
                        }
                        @if (User.IsInRole("Administrators")) {
                            <text>, userAdministrator: true</text>
                        }
                        else
                        {
                            <text>, userAdministrator: false</text>
                        }
                        @if (User.IsInRole("Resellers")) {
                            <text>, userReseller: true</text>
                        }
                        else
                        {
                            <text>, userReseller: false</text>
                        }
                    };
</script>

}
<div ng-cloak data-ui-view="productsList"></div>