﻿@using CapSoft.Identity.Presentation.Mvc.Models;
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="container alwaysTop100">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form_title">
                        <h3 class="text-center">FORGOT PASSWORD</h3>
                    </div>
                    <div class="form_box">
                        @using (Html.BeginForm("ForgotPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "fsize12 text-danger" })
                            <div class="form-group">
                                <!--label for="exampleInput">Username</label>
                                <input type="text" class="form-control" id="exampleInput" placeholder=""-->
                                @Html.LabelFor(m => m.Email, new { })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "fsize12 text-danger pull-right" })
                                <!--a href="#" class="pull-left">Forgot username?</a-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-right">
                                <button class="btn btn-default blockbtn loginbtn" type="submit">RESET PASSWORD<div class="ripple-container"></div></button>
                            </div>
                            <div class="clearfix"></div>

                        }

                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>


