﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">


    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/material-kit.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="~/Content/jquery.flexdatalist.css" rel="stylesheet" type="text/css">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--
    @if (!User.Identity.IsAuthenticated)
    {
        <a id="btn-login" title="Log in"  href="/Login" class="btn-ishopbest"><i class="fa fa-sign-in"></i></a>
        <a id="btn-register" title="Register" href="/Register" class="btn-ishopbest"><i class="fa fa-plus-square-o"></i></a>
    }
    else
    {
        <a href="/Logoff" title="Log out" class="btn-ishopbest"><i class="fa fa-sign-out"></i></a>
    }
    -->



    <header class="navbar-fixed-top" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <ul class="list-inline">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><button class="btn btn-default blockbtn" onclick="window.location.href = '/Login';">LOG IN<div class="ripple-container"></div></button></li>
                            <li><button class="btn btn-default blockbtn" onclick="window.location.href = '/Register';">REGISTER<div class="ripple-container"></div></button></li>
                        }
                        else
                        {
                            <li><button class="btn btn-default blockbtn" onclick="window.location.href = '/Logoff';">LOG OUT<div class="ripple-container"></div></button></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="banner" class="fadeIn fadeInDown">
        <div class="banner-caption text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 ">
                        <div class="logo">
                            <a href="#">
                                <img src="~/Content/images/iShopBestlogo.png" class="img-responsive center-block" alt="">
                            </a>
                        </div>

                        <div class="filter">
                            <span class="material-input2" id="magnifier" ></span>
                            <input type='text'
                                   placeholder='What are you shopping for?'
                                   class='form-control'
                                   data-min-length='1'
                                   data-searchContain='true'
                                   multiple='multiple'
                                   list='keywords'
                                   name='keyword'
                                   id="keyword">
                            <datalist id="keywords">
                                <option value="abrasive">abrasive</option>
                                <option value="accessories">accessories</option>
                                <option value="binder">binder</option>
                                <option value="business">business</option>
                                <option value="cartridge">cartridge</option>
                                <option value="calendar">calendar</option>
                                <option value="cleaner">cleaner</option>
                                <option value="desk">desk</option>
                                <option value="depot">depot</option>
                                <option value="folder">folder</option>
                                <option value="file">file</option>
                                <option value="envelope">envelope</option>
                                <option value="electric">electric</option>
                                <option value="notebook">notebook</option>
                                <option value="paper">paper</option>
                                <option value="pen">pen</option>
                                <option value="phone">phone</option>
                                <option value="staple">staple</option>
                                <option value="tablet">tablet</option>
                                <option value="toner">toner</option>
                            </datalist>



                        </div>


                        <div class="col-md-3"></div>
                    </div>
                </div>

            </div>
    
        </div>
    </section>











    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material-kit.js" type="text/javascript"></script>
    <script src="~/Scripts/material.min.js"></script>

    <script src="~/Scripts/jquery.flexdatalist.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>


    <script type="text/javascript">
        // This demo uses jQuery UI Autocomplete
        // http://jqueryui.com/autocomplete

        // Cannot style datalist elements yet, so get
        // each option value and pass to jQuery UI Autocomplete
        $('input[data-list]').each(function () {
            var availableTags = $('#' + $(this).attr("data-list")).find('option').map(function () {
                return this.value;
            }).get();

            $(this).autocomplete({
                source: availableTags
            }).on('focus', function () {
                $(this).autocomplete('search', ' ');
            }).on('search', function () {
                if ($(this).val() === '') {
                    $(this).autocomplete('search', ' ');
                }
            });
        });

        $(function () {
            @if (User.Identity.IsAuthenticated)
{
    <text>
            var hashTag = "#";
            </text>
}
else
{
    <text>
            var hashTag = "?";
            </text>
}

            $('#magnifier').bind('click', function (e) {
                window.location.href = '/do' + hashTag + '/search/1/0/' + $('#keyword').val();
            });
            $("#keyword").bind('keyup', function (e) {
                if (e.which === 13)
                    window.location.href = '/do' + hashTag + '/search/1/0/' + $('#keyword').val();
            });
        });
    </script>



</body>
</html>

