﻿@using CapSoft.Identity.Presentation.Mvc.Models;
@model LoginViewModel

@{
    ViewBag.Title="Login";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            var emailAddress = $("#Email");
            if (emailAddress && emailAddress.length && emailAddress.length > 0) {
                var fixText = emailAddress.val();
                emailAddress.val(fixText.trim())
            };

            var theButton = $("button.loginbtn[type='submit']");
            if (theButton) {
                theButton[0].addEventListener('click',function (evt) {
                    var emailAddress = $("#Email");
                    if (emailAddress && emailAddress.length && emailAddress.length > 0) {
                        var fixText = emailAddress.val();
                        emailAddress.val(fixText.trim())
                    };
                });
            };
        });
    </script>
    }

        <div class="container alwaysTop100">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form_title">
                        <h3 class="text-center">LOG IN</h3>
                    </div>
                    <div class="form_box">
@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "fsize12 text-danger" })
                        <div class="form-group">
                            <!--label for="exampleInput">Username</label>
                            <input type="text" class="form-control" id="exampleInput" placeholder=""-->
                            @Html.LabelFor(m => m.Email, new { })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "fsize12 text-danger pull-right" })
                            <!--a href="#" class="pull-left">Forgot username?</a-->
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <!--label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder=""-->
                            @Html.LabelFor(m => m.Password, new { })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "fsize12 text-danger pull-right" })
                            <a href="/ForgotPassword" class="pull-left">Forgot password?</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-right">
                            <button class="btn btn-default blockbtn loginbtn" type="submit">LOG IN<div class="ripple-container"></div></button>
                        </div>
                        <div class="clearfix"></div>

}                        <hr>

                        <div class="new">
                            <a href="#" class="fsize14 lightgrayclr">New to iShopBest?</a>
                        </div>

                        <button class="btn btn-default blockbtn loginbtn" onclick="window.location.href='/Register'">CREATE ACCOUNT<div class="ripple-container"></div></button>
                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>


