﻿@using CapSoft.Identity.Presentation.Mvc.Models;
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="container alwaysTop100">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form_title">
                        <h3 class="text-center">CREATE ACCOUNT</h3>
                    </div>
                    <div class="form_box">
@using (Html.BeginForm("Register", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "fsize12 text-danger" })

                        <div class="form-group">
                            <!--label for="exampleInputemail">Email Address</label>
                            <input type="text" class="form-control" id="exampleInputemail" placeholder=""-->
                            @Html.LabelFor(m => m.Email, new { })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "fsize12 text-danger pull-right" })

                        </div>

                        <div class="form-group">
                            <!--label for="exampleInputPassword1">Create Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder=""-->
                            @Html.LabelFor(m => m.Password, new { })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "fsize12 text-danger pull-right" })

                        </div>

                        <div class="form-group">
                            <!--label for="exampleInputPassword2">Re-enter Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder=""-->
                            @Html.LabelFor(m => m.ConfirmPassword, new { })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "fsize12 text-danger pull-right" })
                        </div>


                        <p class="fsize12 lightgray text-left">Password must be at least 8 characters and contain at least 1 uppercase letter, 1 lowercase letter, and 1 digit</p>

                        <div class="checkbox text-left">
                            <label>
                                <!--input type="checkbox" class="fsize12"><span> I Agree to iShopBest Terms of Use</span-->
                                @Html.CheckBoxFor(m => m.IAgreeWithTerms, new { @class = "fsize12" })<span> I Agree to iShopBest Terms of Use</span>
                                @Html.ValidationMessageFor(m => m.IAgreeWithTerms, "", new { @class = "fsize12 text-danger pull-right" })
                            </label>
                        </div>


                        <div class="text-right">
                            <button class="btn btn-default blockbtn loginbtn">CREATE ACCOUNT<div class="ripple-container"></div></button>
                        </div>

                        }




                    </div>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

