﻿<button class="btn btn-default" ng-click="doLogin()">Login</button>
<button class="btn btn-default" ng-click="doLogout()">Logout</button>
<button class="btn btn-default"  ng-click="getCats()">Get Categories</button>
<button class="btn btn-default" ng-click="getUserInfo()">Get User Info</button>
<button class="btn btn-default" ng-click="getManageInfo()">Get Manage Info</button>
<button class="btn btn-default" ng-click="getExternalLogin()">Get External Login</button>
<p>Access Token: <pre><span ng-bind="accessToken" /></pre></p>
<p>Response Data: <pre><span ng-bind="responseData | json" /></pre></p>
<p>Response Error: <pre><span ng-bind="responseError | json" /></pre></p>
