﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <base href="/" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/material-kit.css" rel="stylesheet" />
    <link href="~/Content/iCheck/minimal/orange.css" rel="stylesheet">
    <link href="~/Content/ion-rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/Content/ion-rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/productitem.css" rel="stylesheet">
    <!--link href="~/Content/jquery.flexdatalist.css" rel="stylesheet" type="text/css"-->



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app">
    <div id="grayout" class="modal-background hide"></div>

    <!-- loading -->
    <div id="loading" class="pleasewait fade-in-out">
            <img src="/Content/images/loading.gif" style="max-width: 277px;" class="img-responsive center-block" alt="" />
    </div>
    <!-- /loading -->

    <header class="navbar-fixed-top" id="menu2">
        <div class="container">
            <div class="row">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="~/Content/images/iShopBestwhitelogo.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="~/Content/images/iShopBestwhitelogo.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-6 col-sm-4 col-xs-12" ng-cloak data-ui-view="searchBox"></div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="item text-right space20">
                            <ul class="item_list list-inline text-right">
                                <li><a href="/Logoff">LOG OUT</a></li>
                                <li><a href="/Manage">MY ACCOUNT</a></li>
                                <li><div ng-cloak data-ui-view="basketSummary"></div></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <ul class="item_list list-inline text-right">
                            <li><a href="/Login">LOGIN</a></li>
                            <li><a href="/Register">REGISTER</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                }
            </div>
        </div>
    </header>

    <section  id="banner" class="add-header-offset">
        <section>
            <content id="content1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </content>

        </section>

        <footer class="all-way-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul class="list-inline text-center footer_list">
                            <li><p>Copyright © 2017 iShopBest</p></li>
                            <li><a href="#">Conditions of Use</a></li>
                            <li><a href="#">Privacy Notice</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </section>
<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
<script type="text/javascript" src="~/Scripts/angular-ui-router.js"></script>
<script src="~/Scripts/material-kit.js" type="text/javascript"></script>
<script src="~/Scripts/material.min.js"></script>
<script src="~/Scripts/icheck.min.js" type="text/javascript"></script>
<script src="~/Scripts/ion.rangeSlider.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/app/app-init.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/factories/infrastructure.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/directives/paginate.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/repos/shoppingCartRepository.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/factories/shoppingCart.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/directives/icheck.js"></script>
<script type="text/javascript" src="~/Scripts/app/common/directives/ionRangeSlider.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/SearchBoxCtrl.js"></script>
<script type="text/javascript" src="~/Scripts/app/search/controllers/BasketSummaryCtrl.js"></script>



<!--script src="~/Scripts/jquery.flexdatalist.js"></!--script-->

    @RenderSection("scripts", false)

</body>
</html>
