﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <base href="/" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/material-kit.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <!--link href="~/Content/jquery.flexdatalist.css" rel="stylesheet" type="text/css"-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="app">

    <header class="navbar-fixed-top" id="menu2">
        <div class="container">
            <div class="row">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="~/Content/images/iShopBestwhitelogo.png"  height="67" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-1"></div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="logo">
                            <a href="#"><img src="~/Content/images/iShopBestwhitelogo.png" height="67" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="filter space15">
                            <span class="material-input2"></span>
                            <input type='text'
                                   placeholder='What are you shopping for?'
                                   class='flexdatalist form-control'
                                   data-min-length='1'
                                   data-searchContain='true'
                                   multiple='multiple'
                                   list='forSeach'
                                   name='forSeach'>
                            <datalist id="forSeach">
                                <option value="abrasive">abrasive</option>
                                <option value="accessories">accessories</option>
                                <option value="binder">binder</option>
                                <option value="business">business</option>
                                <option value="cartridge">cartridge</option>
                                <option value="calendar">calendar</option>
                                <option value="cleaner">cleaner</option>
                                <option value="desk">desk</option>
                                <option value="depot">depot</option>
                                <option value="folder">folder</option>
                                <option value="file">file</option>
                                <option value="envelope">envelope</option>
                                <option value="electric">electric</option>
                                <option value="notebook">notebook</option>
                                <option value="paper">paper</option>
                                <option value="pen">pen</option>
                                <option value="phone">phone</option>
                                <option value="staple">staple</option>
                                <option value="tablet">tablet</option>
                                <option value="toner">toner</option>
                            </datalist>
                        </div>
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="item text-right space20">
                            <ul class="item_list list-inline text-right">
                                <li><a href="/Manage">MY ACCOUNT</a></li>
                                <li><a href="#" class="whiteclr lheight35"><img src="~/Content/images/cart.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <ul class="item_list list-inline text-right">
                            <li><a href="/Login">LOGIN</a></li>
                            <li><a href="/Register">REGISTER</a></li>
                        </ul>
                    </div>
                    <div class="col-md-1"></div>
                }
            </div>
        </div>
    </header>


    <section id="banner">
        <div class="banner-caption text-center fadeIn">
            @RenderBody()
        </div>

        <footer id="footer1">
            <ul class="list-inline text-center footer_list">
                <li><p>Copyright © 2017 iShopBest</p></li>
                <li><a href="#">Conditions of Use</a></li>
                <li><a href="#">Privacy Notice</a></li>
            </ul>
        </footer>
    </section>

    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material-kit.js" type="text/javascript"></script>
    <script src="~/Scripts/material.min.js"></script>


    <!--script src="~/Scripts/jquery.flexdatalist.js"></!--script-->

    @RenderSection("scripts", false)

</body>
</html>