﻿<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-default" ng-click="openLoadCart('sm')">Load Cart</button>
            <button class="btn btn-default" ng-click="openSaveCart('sm')">Save Cart</button>
            <button class="btn btn-default" ng-click="open('lg')">Preferences</button>
            <button class="btn btn-default" ng-click="runVendorSelection()">Run Vendor Selection</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-left">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-center">
            <h3 style="font-family: Lato; font-size: 26px; font-weight: 800;">Shopping Cart Details</h3>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-right">
            <h4><span class="label label-info">Order Total: <b>{{shoppingCart.orderTotal() | currency}}</b></span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr />
        </div>
    </div>

    <div ng-repeat="lineItem in shoppingCart.shoppingCartItems" class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="container-fluid">
                            <div class="row">

                                <!-- image -->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <img class="img-responsive" style="width: 200px; height: 200px;" ng-src="{{lineItem.ImageUrl!=null ? lineItem.ImageUrl : 'https://portal.ishopbest.com/api/Products/Images/1000051851181752' }}" />
                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 text-left">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                <span style="font-family: Lato; font-size: 22px; font-weight: 800;">{{lineItem.ProductTitle}}</span>
                                                <div><star-rating ng-model="lineItem.ProductRating" max="5"></star-rating></div>
                                                <!--div class="text-left"><h4><span class="label label-info"><a href="#" ui-sref="home.product({productId: lineItem.ProductId})">Details</a></span>&nbsp;&nbsp;&nbsp;</h4></div-->
                                                <div><button class="btn btn-info" ng-click="goToDetails(lineItem.ProductId,lineItem.SupplierId)">Details</button></div>
                                                <div>GTIN: {{lineItem.GTIN}}</div>
                                                <div>Manufacturer: {{lineItem.ManufacturerName}} <star-rating ng-model="lineItem.ManufacturerRating" max="5"></star-rating></div>
                                                <div>Part #: {{lineItem.ManufacturerPartNumber}}</div>
                                                <div>COO: {{lineItem.CountryOfOrigin}}</div>
                                                <div>UNSPSC: {{lineItem.UNSPSC}}</div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-left">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                    <div class="text-left"><h4><span class="label label-info">Price: <b>{{lineItem.PriceMin | currency}}</b></span></h4></div>
                                                <form class="form-inline form-group">
                                                    <div class=""><label for="itwmQuantity">Qty:</label>&nbsp;<input id="itemQuantity" class="form-control" size="3" type="text" ng-model="lineItem.Quantity" />&nbsp;{{lineItem.Unit}}</div>
                                                </form>
                                            </div>
                                        </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-left">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                <div class="text-right"><h4><span class="label label-primary">#{{($index+1)}}</span><span class="label label-info">Subtotal: <b>{{(lineItem.PriceMin*lineItem.Quantity) | currency}}</b></span></h4></div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                                <div class=""><button class="btn btn-default" ng-click="deleteItemFromCart(lineItem.ProductId)">Delete</button><button class="btn btn-default" ng-click="shoppingCart.addToCart(lineItem,lineItem.Quantity,'33065','Update')">Update</button></div>
                                            </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-right"><h4><span class="label label-info">Order Total: <b>{{shoppingCart.orderTotal() | currency}}</b></span></h4></div>
        </div>
    </div>


</div>

<script type="text/ng-template" id="preferencesAsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Please set importance for following factors</h3>
    </div>
    <div class="modal-body">
        <ng-include src="'/Scripts/app/home/views/preferencesView.html'"></ng-include>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="preferences.html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ng-include src="'/Scripts/app/home/views/vendorSelectionView.html'"></ng-include>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>
</script>


