﻿<div ng-cloak class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
        <ul ng-hide="!config.Data.ShowCategories" class="list-group">
            <li class="list-group-item"><a ui-sref="home({rootCategoryId: 0})">Home</a></li>
            <li class="list-group-item" ng-repeat="path in config.Data.CategoryPath"><a ui-sref="home({rootCategoryId: path.CategoryId, keywords: ''})"><span ng-hide="path.CategoryId!=config.Data.CurrentCategoryId" class="badge bg-info">*</span> {{path.CategoryDescription}}</a></li>
            <li class="list-group-item" ng-hide="!categories">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="category in categories | orderBy : 'CategoryDescription'"><a ui-sref="home({rootCategoryId: category.CategoryId, keywords: ''})">{{category.CategoryDescription}} <span class="badge bg-info">{{category.ProductCount}}</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>