﻿<div class="modal-header">
    <h3 class="modal-title">Please pick a cart you want to load</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="cartId" class="control-label">Cart:</label>
                        <select ng-model="tempCartId" ng-options="cart.Id as cart.CartName for cart in carts | orderBy : cartName" class="form-control" id="cartId"></select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Load</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
