﻿<div class="container-fluid">
    <div ng-repeat="cntrl in shoppingCart.vendorSelectionPreferences">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <span ng-class="{'label blue-background': (cntrl.value<=33),'label green-background': (cntrl.value>33 && cntrl.value<=66),'label red-background':cntrl.value>66}">{{cntrl.text}}</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div ng-if="cntrl.type=='slider'">
                    <div ui-slider min="{{cntrl.minValue}}" max="{{cntrl.maxValue}}" ng-model="cntrl.value" ng-class="{'blue-background': (cntrl.value<=33),'green-background': (cntrl.value>33 && cntrl.value<=66),'red-background':cntrl.value>66}"></div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                <span ng-class="{'label blue-background': (cntrl.value<=33),'label green-background': (cntrl.value>33 && cntrl.value<=66),'label red-background':cntrl.value>66}" >{{cntrl.value}}%</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
        </div>
    </div>
</div>

