﻿<div class="container-fluid">
    <div class="row" ng-cloak="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                        <span style="font-family: Lato; font-size: 22px; font-weight: 800;">{{currentProduct.ProductTitle}}</span>
                        <p><star-rating ng-model="currentProduct.ProductRating" max="5" readonly="true"></star-rating></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"><img src="{{currentProduct.ImageUrl}}" /></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">Retail Price: {{currentProduct.ListPrice | currency}}</span></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">Lowest Price: {{currentProduct.PriceMin | currency}}</span></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">&nbsp;</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <form class="form-inline">
                                                    <span style="font-family: Lato; font-size: 16px; font-weight: 800;">Qty:</span>
                                                    <input class="form-control" type="text" size="2" ng-model="qtyRequired" />
                                                    <span ng-bind="currentProduct.Unit"></span>
                                                    <button class="btn btn-info form-control" ng-click="addProductToCart(currentProduct,qtyRequired,'33065','Add')">Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">Manufacturer: {{currentProduct.ManufacturerName}}</span><star-rating ng-model="currentProduct.ManufacturerRating" max="5"></star-rating></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">Part #: {{currentProduct.ManufacturerPartNumber}}</span></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">GTIN: {{currentProduct.GTIN}}</span></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Lato; font-size: 16px; font-weight: 800;">Unit Of Measure: {{currentProduct.Unit}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left"></div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><span style="font-family: Verdana, Arial, sans-serif; font-size: 16px;">{{currentProduct.LongDescription}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left"><hr /></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <h4>Available from</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                        <table class="table table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Supplier Name</th>
                                    <th>Sku</th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                    <th>
                                        MinQty
                                    </th>
                                    <th>
                                        COO
                                    </th>
                                    <th>
                                        TAA
                                    </th>
                                    <th>
                                        PackRequired
                                    </th>
                                    <th>
                                        PackPrice
                                    </th>
                                    <th>
                                        PackQty
                                    </th>
                                    <th>
                                        PackUnit
                                    </th>
                                    <th>
                                        PackSku
                                    </th>
                                    <th>
                                        LeadTime
                                    </th>
                                    <th>
                                        EffectiveDate
                                    </th>
                                    <th>
                                        ExpirationDate
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="match in currentMatches | orderBy : 'Cost'" ng-if="match.MinimumQty<=qtyRequired">
                                    <td><input name="pVI" type="radio" class="radio" ng-model="currentProduct.SupplierId" ng-value="match.SupplierId"></td>
                                    <td>{{match.SupplierName}}<p><star-rating ng-model="match.SupplierRating" max="5" readonly="true"></star-rating></p></td>
                                    <td>{{match.Sku}}</td>
                                    <td>{{match.Cost | currency}}</td>
                                    <td>{{match.Unit}}</td>
                                    <td>{{match.MinimumQty}}</td>
                                    <td>{{match.CountryOfOrigin}}</td>
                                    <td>{{match.TAA ? "Yes" : "No"}}</td>
                                    <td>{{match.PackRequired ? "Yes" : "No"}}</td>
                                    <td>{{match.PackPrice | currency}}</td>
                                    <td>{{match.PackQty}}</td>
                                    <td>{{match.PackUnit}}</td>
                                    <td>{{match.PackSku}}</td>
                                    <td>{{match.LeadTime}}</td>
                                    <td>{{match.EffectiveDate | date : "MM/dd/yyyy" }}</td>
                                    <td>{{match.ExpirationDate | date : "MM/dd/yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
