﻿<div class="container" ng-hide="!products || products.length==0">
    <div class="row" ng-cloak="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <form class="form-inline form-group-sm">
                <h4><span class="label label-warning pull-left" ng-bind="queryResults.ResultsMessage"></span></h4>
                <select class="form-control pull-right" ng-model="productsQuery.PageSize" ng-change="goToPage(1)">
                    <option value="25" ng-selected="queryResults.PageSize==25">25 results/page</option>
                    <option value="50" ng-selected="queryResults.PageSize==50">50 results/page</option>
                    <option value="100" ng-selected="queryResults.PageSize==100">100 results/page</option>
                </select>
                <button class="form-control btn btn-sm btn-warning pull-right" ng-disabled="!config.State.ShowList" ng-click="config.State.ShowList=!config.State.ShowList"><i class="glyphicon glyphicon-th"></i></button>
                <button class="form-control btn btn-sm btn-warning pull-right" ng-disabled="config.State.ShowList" ng-click="config.State.ShowList=!config.State.ShowList"><i class="glyphicon glyphicon-th-list"></i></button>
                <select name="orderBy" class="form-control pull-right" ng-model="productsQuery.OrderBy" ng-change="goToPage(1)">
                    <option value="PriceMin" ng-selected="queryResults.OrderBy=='PriceMin'">Price</option>
                    <option value="GTIN" ng-selected="queryResults.OrderBy=='GTIN'">GTIN</option>
                    <option value="UNSPSC" ng-selected="queryResults.OrderBy=='UNSPSC'">UNSPSC</option>
                </select>
                <h3><span for="orderBy" class="label label-warning pull-right">Sort By</span></h3>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>

    <div class="row" ng-hide="queryResults.PagesCount<2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <ul ng-cloak
                uib-pagination
                ng-model="queryResults.PageNumber"
                total-items="queryResults.ProductsCount"
                ng-change="goToPage(queryResults.PageNumber)"
                max-size="10"
                items-per-page="queryResults.PageSize"
                force-ellipses="true"
                rotate="false"
                boundary-links="true"></ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div id="info{{product.ProductId}}" ng-repeat="product in products">

            <!-- Tiles View -->
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" ng-hide="config.State.ShowList">
                    <div class="thumbnail">
                        <img class="img-thumbnail" style="width: 200px; height: 200px;" ng-src="{{product.ImageUrl!=null ? product.ImageUrl : 'https://portal.ishopbest.com/api/Products/Images/1000051851181752' }}" />
                        <div class="caption">
                            <h3 class="alert">{{product.ProductTitle}}&nbsp;<span class="label label-warning"><a href="#" ui-sref="home.product({productId: product.ProductId})">Details</a></span></h3>
                            <p><span uib-rating ng-model="product.ProductRating" max="5" read-only="true"></span></p>
                            <p><h4><span class="label label-danger">Your Price: <b>{{product.PriceMin | currency}}</b></span>&nbsp;/&nbsp;{{product.Unit}}</h4></p>&nbsp;
                            <p><h4><span class="label label-info"><del>Regular: {{product.ListPrice | currency}}</del></span></h4></p>
                            <!--p><button class="btn btn-info" ng-click="config.ShoppingCart.addToCart(product,1,'33065','Add')">Add to cart</button></p-->
                        </div>
                    </div>
           </div>
                

            <!-- List View -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="!config.State.ShowList">
                <div class="container-fluid" style="width: 100%; height: 100%; border-width: 1px; border-color: silver;">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <img class="img-thumbnail" style="width: 200px; height: 200px;" ng-src="{{product.ImageUrl!=null ? product.ImageUrl : 'https://portal.ishopbest.com/api/Products/Images/1000051851181752' }}" />
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 text-left">
                            <div class="container">
                                <div class="row">
                                            <div class="text-left"><h3><span>{{product.ProductTitle}}</span>&nbsp;<span class="label label-warning"><a href="#" ui-sref="home.product({productId: product.ProductId})">Details</a></span></h3></div>
                                            <div><span uib-rating ng-model="product.ProductRating" max="5" read-only="true"></span></div>
                                            <div class="text-left"><h4><span class="label label-danger">Your Price: <b>{{product.PriceMin | currency}}</b>&nbsp;/&nbsp;EA</span>&nbsp;<span class="label label-info"><del>Regular: {{product.ListPrice | currency}}</del></span></h4></div>
                                            <!--div class="text-left"><button class="btn btn-info" ng-click="config.ShoppingCart.addToCart(product,1,'33065','Add')">Add to cart</button></div-->
                                            <div>GTIN: {{product.GTIN}}</div>
                                            <div>Manufacturer: {{product.ManufacturerName}}<star-rating ng-model="product.ManufacturerRating" max="5"></star-rating></div>
                                            <div>Part #: {{product.ManufacturerPartNumber}}</div>
                                            <div>Dimensions: {{product.Dimensions}}</div>
                                            <div>Weight: {{product.Weight}}</div>
                                            <div>COO: {{product.CountryOfOrigin}}</div>
                                            <div>UNSPSC: {{product.UNSPSC}}</div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="!config.State.ShowList">
                            <hr />
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>



    <div class="row" ng-hide="queryResults.PagesCount<2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <ul ng-cloak
                uib-pagination
                ng-model="queryResults.PageNumber"
                total-items="queryResults.ProductsCount"
                ng-change="goToPage(queryResults.PageNumber)"
                max-size="10"
                items-per-page="queryResults.PageSize"
                force-ellipses="true"
                rotate="false"
                boundary-links="true"></ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            &nbsp;
        </div>
    </div>

    <div class="row" ng-cloak="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <form class="form-inline form-group-sm">
                <h4><span class="label label-warning pull-left" ng-bind="queryResults.ResultsMessage"></span></h4>
                <select class="form-control pull-right" ng-model="productsQuery.PageSize" ng-change="goToPage(1)">
                    <option value="25" ng-selected="queryResults.PageSize==25">25 results/page</option>
                    <option value="50" ng-selected="queryResults.PageSize==50">50 results/page</option>
                    <option value="100" ng-selected="queryResults.PageSize==100">100 results/page</option>
                </select>
                <button class="form-control btn btn-sm btn-warning pull-right" ng-disabled="!config.State.ShowList" ng-click="config.State.ShowList=!config.State.ShowList"><i class="glyphicon glyphicon-th"></i></button>
                <button class="form-control btn btn-sm btn-warning pull-right" ng-disabled="config.State.ShowList" ng-click="config.State.ShowList=!config.State.ShowList"><i class="glyphicon glyphicon-th-list"></i></button>
                <select name="orderBy" class="form-control pull-right" ng-model="productsQuery.OrderBy" ng-change="goToPage(1)">
                    <option value="PriceMin" ng-selected="queryResults.OrderBy=='PriceMin'">Price</option>
                    <option value="GTIN" ng-selected="queryResults.OrderBy=='GTIN'">GTIN</option>
                    <option value="UNSPSC" ng-selected="queryResults.OrderBy=='UNSPSC'">UNSPSC</option>
                </select>
                <h3><span for="orderBy" class="label label-warning pull-right">Sort By</span></h3>
            </form>
        </div>
    </div>


</div>

<div class="container-fluid" ng-hide="products && products.length>0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/Content/images/US_Capitol_west_side_2.jpg" alt="" class="img-responsive center-block" >
                        <div class="carousel-caption" style="font-size: 40px; font-family: Chunkfive;">
                            <p>The SMART way to find</p>
                            <p>the Best Price</p>
                            <p>exclusively for BUYERS like you</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
