﻿<div class="modal-header">
    <h3 class="modal-title">Saving shopping cart</h3>
</div>
<form name="sc">
    <div class="modal-body">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="cartName">Cart Name</label>
                            <input type="text" name="cartName" id="cartName" class="form-control" placeholder="Enter cart name here" ng-model="saveCartViewModel.cartName" minlength="5" maxlength="100" required />
                            <div ng-show="sc.cartName.$error.required" class="theme-error">cart name required</div>
                            <div ng-show="sc.cartName.$error.minlength" class="theme-error">cart name must be at least 5 chars long</div>
                        </div>
                        <div class="form-group">
                            <label for="overrideExisting">Override Existing Cart</label>
                            <input type="checkbox" id="overrideExisting" class="form-control" ng-model="saveCartViewModel.overrideExisting" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="sc.$invalid">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
