﻿<div class="container">
    <div class="row" ng-cloak="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="container" ng-hide="!VendorSelectionResults">
                <div class="row" ng-cloak="true">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <h4>Execution Speed: {{VendorSelectionResults.ExecutionSpeedTicks}}, Analyzed: {{VendorSelectionResults.Orders.length}} scenarios.</h4>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h4>Best to order as listed below</h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="table-responsive" ng-repeat="order in VendorSelectionResults.Orders | filter : {Score:100}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Score</th>
                                        <th>OrderTotal</th>
                                        <th>Order Weighted Cost Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="left"><span ng-class="{'label label-info': order.Score!=100, 'label label-warning': order.Score==100}">{{order.Score}}</span></td>
                                        <td align="left">{{order.OrderTotal | currency}}</td>
                                        <td align="left">{{order.WeightedCostTotal | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>GTINPLUS</th>
                                                            <th>ProductRating</th>
                                                            <th>RequestedQuantity</th>

                                                            <th>SupplierName</th>
                                                            <th>SupplierRating</th>
                                                            <th>Price</th>
                                                            <th>Coo</th>

                                                            <th>WarehouseName</th>
                                                            <th>WarehouseRating</th>
                                                            <th>Quantity</th>

                                                            <th>DeliveryDays</th>
                                                            <th>EstimatedFreight</th>

                                                            <th>Line Weighted Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="orderLine in order.OrderLines">
                                                            <td>{{orderLine.GTINPLUS}}</td>
                                                            <td>{{orderLine.ProductRating}}</td>
                                                            <td>{{orderLine.RequestedQuantity}}</td>

                                                            <td>{{orderLine.SupplierName}}</td>
                                                            <td>{{orderLine.SupplierRating}}</td>
                                                            <td>{{orderLine.Price | currency}}</td>
                                                            <td>{{orderLine.Coo}}</td>

                                                            <td>{{orderLine.WarehouseName}}</td>
                                                            <td>{{orderLine.WarehouseRating}}</td>
                                                            <td>{{orderLine.Quantity}}</td>

                                                            <td>{{orderLine.DeliveryDays}}</td>
                                                            <td>{{orderLine.EstimatedFreight}}</td>

                                                            <td>{{orderLine.WeightedCost | currency}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="container" ng-hide="!VendorSelectionResults">
            <div class="row" ng-cloak="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="container" ng-hide="!VendorSelectionResults">
            <div class="row" ng-cloak="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <button class="btn btn-default" ng-click="ShowLog=!ShowLog">{{ShowLog ? "Hide" : "Show"}} Log</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="container" ng-hide="!VendorSelectionResults">
            <div class="row" ng-cloak="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="!ShowLog">
        <div class="container">
            <div class="row" ng-cloak="true">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    Orders: <button class="btn btm-sm pull-right" ng-click="showOrders=!showOrders">{{showOrders ? "Hide" : "Show"}} Orders</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="!showOrders">
                    <div class="table-responsive" ng-repeat="order in VendorSelectionResults.Orders | orderBy : '-Score'">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Score</th>
                                    <th>OrderTotal</th>
                                    <th>Order Weighted Cost Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left"><span ng-class="{'label label-info': order.Score!=100, 'label label-warning': order.Score==100}">{{order.Score}}</span></td>
                                    <td align="left">{{order.OrderTotal | currency}}</td>
                                    <td align="left">{{order.WeightedCostTotal | currency}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>GTINPLUS</th>
                                                        <th>ProductRating</th>
                                                        <th>RequestedQuantity</th>

                                                        <th>SupplierName</th>
                                                        <th>SupplierRating</th>
                                                        <th>Price</th>
                                                        <th>Coo</th>

                                                        <th>WarehouseName</th>
                                                        <th>WarehouseRating</th>
                                                        <th>Quantity</th>

                                                        <th>DeliveryDays</th>
                                                        <th>EstimatedFreight</th>

                                                        <th>Line Weighted Cost</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="orderLine in order.OrderLines">
                                                        <td>{{orderLine.GTINPLUS}}</td>
                                                        <td>{{orderLine.ProductRating}}</td>
                                                        <td>{{orderLine.RequestedQuantity}}</td>

                                                        <td>{{orderLine.SupplierName}}</td>
                                                        <td>{{orderLine.SupplierRating}}</td>
                                                        <td>{{orderLine.Price | currency}}</td>
                                                        <td>{{orderLine.Coo}}</td>

                                                        <td>{{orderLine.WarehouseName}}</td>
                                                        <td>{{orderLine.WarehouseRating}}</td>
                                                        <td>{{orderLine.Quantity}}</td>

                                                        <td>{{orderLine.DeliveryDays}}</td>
                                                        <td>{{orderLine.EstimatedFreight}}</td>

                                                        <td>{{orderLine.WeightedCost | currency}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--VendorSelectionResults.Orders-->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    Matches: <button class="btn btm-sm pull-right" ng-click="showMatches=!showMatches">{{showMatches ? "Hide" : "Show"}} Matches</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="!showMatches">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>GTINPLUS</th>
                                    <th>SupplierName</th>
                                    <th>SupplierRating</th>
                                    <th>DaysToDeliver</th>

                                    <th>Sku</th>
                                    <th>Cost</th>
                                    <th>Unit</th>
                                    <th>Effective</th>
                                    <th>Expires</th>
                                    <th>COO</th>
                                    <th>TAA</th>

                                    <th>Min</th>

                                    <th>PackRequired</th>
                                    <th>PackPrice</th>
                                    <th>PackQty</th>
                                    <th>PackUnit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="match in VendorSelectionResults.Matches | orderBy : ['GTINPLUS','Cost']">
                                    <td>{{match.GTINPLUS}}</td>
                                    <td>{{match.SupplierName}}</td>
                                    <td>{{match.SupplierRating}}</td>
                                    <td>{{match.LeadTime}}</td>

                                    <td>{{match.Sku}}</td>
                                    <td>{{match.Cost | currency}}</td>
                                    <td>{{match.Unit}}</td>
                                    <td>{{match.EffectiveDate | date : "MM/dd/yyyy"}}</td>
                                    <td>{{match.ExpirationDate | date : "MM/dd/yyyy"}}</td>
                                    <td>{{match.CountryOfOrigin}}</td>
                                    <td>{{match.TAA ? "Yes" : "No"}}</td>

                                    <td>{{match.MinimumQty}}</td>

                                    <td>{{match.PackRequired ? "Yes" : "No"}}</td>
                                    <td>{{match.PackPrice | currency}}</td>
                                    <td>{{match.PackQty}}</td>
                                    <td>{{match.PackUnit}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--VendorSelectionResults.Matches-->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <hr />
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    Inventories: <button class="btn btm-sm pull-right" ng-click="showInventories=!showInventories">{{showInventories ? "Hide" : "Show"}} Inventory Information</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="!showInventories">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>GTINPLUS</th>
                                    <th>SupplierId</th>
                                    <th>TotalAvailable</th>

                                    <th>WarehouseName</th>
                                    <th>WarehouseRating</th>
                                    <th>Available</th>
                                    <th>Unit</th>
                                    <th>SrcZipCode</th>
                                    <th>SrcLatitude</th>
                                    <th>SrcLongitude</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="inventory in VendorSelectionResults.Inventories | orderBy : ['GTINPLUS','SupplierId']">
                                    <td>{{inventory.GTINPLUS}}</td>
                                    <td>{{inventory.SupplierId}}</td>
                                    <td>{{inventory.TotalAvailable}}</td>

                                    <td>{{inventory.WarehouseName}}</td>
                                    <td>{{inventory.WarehouseRating}}</td>
                                    <td>{{inventory.Available}}</td>
                                    <td>{{inventory.Unit}}</td>
                                    <td>{{inventory.SrcZipCode}}</td>
                                    <td>{{inventory.SrcLatitude}}</td>
                                    <td>{{inventory.SrcLongitude}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--VendorSelectionResults.Inventories-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-hide="VendorSelectionResults">
        <h4>Please rerun vendorselection</h4>
    </div>

    <pre ng-bind="VendorSelectionResults.Orders[0] | json"></pre>
</div>
