﻿@using CapSoft.Identity.Domain.Model;
@using CapSoft.Identity.Presentation.Mvc;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/jquery-ui")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body ng-app="rootApp" ng-controller="RootAppCtrl" ng-cloak>
    <div id="grayout" class="modal-background"></div>
    
    <div id="loading" class="pleasewait">
        <div class="text-center">
            <img id="loadingImage" style="width: 50px; height: 50px;" src="~/content/images/loading.128x128.gif" />
        </div>
        <div class="text-center">
            <h4><span id="loadingMessage" class="label label-primary text-normal" ng-cloak ng-bind="WaitMessage"></span></h4>
        </div>
    </div>
    
    <div id="dialog" class="modal-dialog" style="display: none;">
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--@Html.ActionLink("Demo app", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                    <a ng-hide="!localMode" class="navbar-brand" href="#" ui-sref="home({rootCategoryId: 0, keywords: ''})" ng-bind-template="@DefaultOrganization.WebsiteName"></a>
                    <a ng-hide="localMode" class="navbar-brand" href="/" ng-bind-template="@DefaultOrganization.WebsiteName"></a>
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li-->
                        <li>&nbsp;</li>
                        <li ng-cloack data-ui-view="searchBox">
                            <!--div  ng-cloack data-ui-view="searchBox">
                            </div-->
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"  ng-cloak>

@if (User.Identity.IsAuthenticated && (User.Identity.IsWebsiteUser() || User.IsInRole("Administrators")))
{
    //authenticated users
    if (User.IsInRole("Administrators"))
    {
        //administrators

                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
    }
    if (User.Identity.IsUserManager() || User.IsInRole("Administrators"))
    {
        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Users <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Account/Register"><i class="glyphicon glyphicon-record"></i> Create</a></li>
                            <li><a href="/Account/ManageUsers"><i class="glyphicon glyphicon-wrench"></i> Manage</a></li>
                        </ul>
            
                        </li>
    }
                        <li><a href="/Account/LogOff"><i class="glyphicon glyphicon-log-out"></i> Sign-Out</a></li>
                        <li ng-hide="!localMode"><a href="#" ui-sref="home.cart({})"><i class="glyphicon glyphicon-shopping-cart"></i> Cart (<span ng-bind="config.ShoppingCart.shoppingCartItems.length"></span>)</a></li>
                        <li><a href="/Account/ManageAccount"><i class="glyphicon glyphicon-cog"></i> @User.Identity.Name</a></li>
}
else
{
    //notauthenticated users
                        <li><a href="/Account/LogIn"><i class="glyphicon glyphicon-log-in"></i> Sign-In</a></li>
}
                    </ul>
                </div>
            </div>
        </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @(DateTime.Now.Year>2016 ? "2016 -" : "") @DateTime.Now.Year - CapSoft, LLC.</p>
        </footer>
        <hr />
        <!--div ng-cloak ng-hide="!config.debugMode">
            <p>config.Views.LeftBar.visible: {{config.Views.LeftBar.visible}}</p>
            <p>config.Views.LeftBar.width: {{config.Views.LeftBar.width}}</p>
            <p>config.Views.MainContent.visible: {{config.Views.MainContent.visible}}</p>
            <p>config.Views.MainContent.width: {{config.Views.MainContent.width}}</p>
            <p>config.Views.RightBar.visible: {{config.Views.RightBar.visible}}</p>
            <p>config.Views.RightBar.width: {{config.Views.RightBar.width}}</p>
            <p>config.Data.FirstLoad: {{config.Data.FirstLoad}}</p>
            <p>config.Data.TopLevel: {{config.Data.TopLevel}}</p>
            <p>config.Data.BottomLevel: {{config.Data.BottomLevel}}</p>
            <p>config.Data.ShowCategories: {{config.Data.ShowCategories}}</p>
            <p>config.Data.ShowProducts: {{config.Data.ShowProducts}}</p>
            <p>config.State.InitializationCompleted: {{config.State.InitializationCompleted}}</p>
            <p>config.State.ShowList: {{config.State.ShowList}}</p>
            <p>config.State.Current: {{config.State.Current}}</p>
            <p>config.Infrastructure: {{config.Infrastructure}}</p>
            <p>config.shoppingCart: {{config.ShoppingCart}}</p>
        </div-->
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script type="text/javascript" src="~/Scripts/angular.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-resource.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-sanitize.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-cookies.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-ui-router.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="~/Scripts/angular-ui/slider.js"></script>
        <script type="text/javascript" src="~/Scripts/app/app-init.js"></script>
        <script type="text/javascript" src="~/Scripts/app/factories/infrastructure.js"></script>
        <script type="text/javascript" src="~/Scripts/app/directives/validation-errors.js"></script>
        <script type="text/javascript" src="~/Scripts/app/directives/star-rating.js"></script>
        <script type="text/javascript" src="~/Scripts/app/factories/shoppingCart.js"></script>
        @RenderSection("scripts", required: false)
        <script type="text/javascript" src="~/Scripts/app/root/defaultApp.js"></script>
        <script type="text/javascript" src="~/Scripts/app/root/controllers/SearchBoxCtrl.js"></script>
        <script type="text/javascript" src="~/Scripts/app/root/controllers/RootAppCtrl.js"></script>

        <script type="text/javascript">
                $("#dialog").hide();
                $("#grayout").hide();
                $("#loading").hide();
        </script>
</body>
</html>
