﻿@section scripts {
    <!--script type="text/javascript" src="~/Scripts/require.js" data-main="/Scripts/app/requirejs-bootstrap.js"></script-->
    <script type="text/javascript">
                    window.appGlobals = {
                        module: "Home",
                        rootUrl: "@Url.Content("~")",
                        apiLocation: "@Url.Content("~")api/",
                        actionUri: "@Url.Action()",
                        currentController: "@ViewContext.RouteData.Values["controller"]"

                        @if (Request.IsAuthenticated){
                            <text>, userAuthenticated: true</text>
                        }
                        else
                        {
                            <text>, userAuthenticated: false</text>
                        }
                        @if (User.IsInRole("Administrators")){
                            <text>, userAdministrator: true</text>
                        }
                        else
                        {
                            <text>, userAdministrator: false</text>
                        }
                        @if (User.IsInRole("Resellers")){
                            <text>, userReseller: true</text>
                        }
                        else
                        {
                            <text>, userReseller: false</text>
                        }
                    };
    </script>

    <script type="text/javascript" src="~/Scripts/app/home/app.js"></script>
    <script type="text/javascript" src="~/Scripts/app/factories/repos/categoriesRepository.js"></script>
    <script type="text/javascript" src="~/Scripts/app/factories/repos/productsRepository.js"></script>
    <script type="text/javascript" src="~/Scripts/app/factories/repos/vendorSelectionRepository.js"></script>
    <script type="text/javascript" src="~/Scripts/app/factories/repos/shoppingCartRepository.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/GeneralInformationCtrl.js"></script>
    <!--script type="text/javascript" src="~/Scripts/app/home/controllers/CategoriesListCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/ProductsFilterCtrl.js"></script-->
    <script type="text/javascript" src="~/Scripts/app/home/controllers/ProductsListCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/ProductDetailsCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/CartCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/PreferencesCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/VendorSelectionResultsCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/LoadCartCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/home/controllers/SaveCartCtrl.js"></script>
}

<!--base href="~/Scripts/app/home/views/" /-->

<div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" ng-cloak data-ui-view="generalInformation"></div>
    </div>
    <div class="row">
        <!--div class="col-lg-{{config.Views.LeftBar.width}} col-md-{{config.Views.LeftBar.width}} col-sm-{{config.Views.LeftBar.width}} col-xs-{{config.Views.LeftBar.width}} text-left" ng-hide="config.State.Current!='home'" id="leftBar">
            <div ng-cloack data-ui-view="categoriesList"></div>
            <div ng-cloack data-ui-view="productsFilter"></div>
        </div-->
        <div class="col-lg-{{config.Views.MainContent.width}} col-md-{{config.Views.MainContent.width}} col-sm-{{config.Views.MainContent.width}} col-xs-{{config.Views.MainContent.width}} text-left" ng-hide="!config.Views.MainContent.visible" id="mainContent">
            <div ng-cloak data-ui-view="productsList"></div>
        </div>
    </div>
</div>