@using System.Web.Http
@using WebApi.Help.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<div id="body" class="help-page">
    <section class="featured">
        <div class="container content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <section class="container-fluid content-wrapper main-content clear-fix" style="padding: 10px;">
        @Html.DisplayForModel()
    </section>
</div>
