@using System.Web.Http
@using WebApi.Help.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<div id="body" class="help-page">
    <section class="featured">
        <div class="container content-wrapper">
            <p>
                @Html.ActionLink("Help Page Home", "Index")
            </p>
        </div>
    </section>
    <h1>@Model.Name</h1>
    <p>@Model.Documentation</p>
    <section class="container-fluid content-wrapper main-content clear-fix" style="padding: 10px;">
        @Html.DisplayFor(m => Model)
    </section>
</div>
