﻿<!--basket view-->
<div class="row" ng-if="!showScenarios && !showResults">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 filter-box">
        <label for="filter-by-manufacturer-id" class="main-label">Importance</label>
        <br />
        <div ng-repeat="pref in prefs | orderBy : 'sequenceNumber'">
            <label for="filter-by-manufacturer-id" class="list-label">{{pref.label}}</label>
            <div class="list-area">
                <div class="slider-area">
                    <input ion-range-slider
                           id="{{pref-name}}"
                           name="{{pref_name}}"
                           value="High"
                           values="values2"
                           grid="true"
                           data-type="single"
                           on-finish="onSliderFinish"
                           />
                </div>
            </div>
            <br />
        </div>
        <!--                            
                           on-start="sliderStart"
                           on-change="sliderChange"
                           on-finish="onSliderFinish"

                           data-prettify="prettifyIonRangeSlider"
            data-min="0"
 -->
        <!--label for="filter-by-manufacturer-id" class="list-label">Delivery speed</label>
        <div class="list-area">

        </div>
        <br />
        <label for="filter-by-manufacturer-id" class="list-label">Low freight</label>
        <div class="list-area">

        </div-->
        <br />
        <label for="filter-by-manufacturer-id" class="main-label">Filter</label>
        <br />
        <label for="filter-by-manufacturer-id" class="list-label">Sellers</label>
        <div class="list-area">
            <ul>
                <li ng-repeat="elm in sellers | orderBy : 'name'">
                    <lebel class="icheck-label" for="icheck_seller{{$index}}">
                        <input i-check
                               class="icheck-ng-seller"
                               type="checkbox"
                               name="icheck_ng_seller"
                               id="icheck-ng-seller{{$index}}"
                               value="{{elm.id}}"
                               ng-model="filter.sellers[$index]"
                               checkbox-class="icheckbox_minimal-orange"
                               ng-change="applySellersFilter()" />
                        <!--input class="icheck-sort-input" type="radio" name="icheck_sort_input" id="icheck_sort_input{{$index}}" ng-checked="{{elm.value==productsQuery.OrderBy}}" value="elm.value" /-->
                        {{elm.name}}
                    </lebel>
                </li>
            </ul>
        </div>
        <br />
        <label for="filter-by-manufacturer-id" class="list-label">Classification</label>
        <div class="list-area">
            <ul>
                <li ng-repeat="elm in classifications | orderBy : 'name'">
                    <lebel class="icheck-label" for="icheck_classification{{$index}}">
                        <input i-check
                               class="icheck-ng-classificattion"
                               type="checkbox"
                               name="icheck_ng_classificattion"
                               id="icheck-ng-classificattion{{$index}}"
                               value="{{elm.id}}"
                               ng-model="filter.classificattions[$index]"
                               checkbox-class="icheckbox_minimal-orange"
                               ng-change="applySellersFilter()" />
                        <!--input class="icheck-sort-input" type="radio" name="icheck_sort_input" id="icheck_sort_input{{$index}}" ng-checked="{{elm.value==productsQuery.OrderBy}}" value="elm.value" /-->
                        {{elm.name}}
                    </lebel>
                </li>
            </ul>        </div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="detail_inner_text space30">
            <p class="text-center main-label">Basket ({{itemsCount > 0 ? itemsCount+' item'+(itemsCount>1 ? 's':'') : 'empty' }})</p>
            <div class="container-fluid">
                <div class="row" ng-repeat="result in vendorSelectionResults | orderBy: '-score'"><!-- main holder -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="container-fluid header-container">
                            <div class="row header-row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <span class="list-label">Score:</span> {{result.Score}}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    &nbsp;
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="pull-right"><span class="list-label">Order Total:</span> {{result.OrderTotal | currency}}</div>
                                    
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 pull-right">
                                    <span class="pull-right clickable" ng-click="toggleHeaderContainer($index)"><i class="fa fa-caret-square-o-right" aria-hidden="true" ng-hide="!result.collapse"></i><i class="fa fa-caret-square-o-down" aria-hidden="true" ng-hide="result.collapse"></i></span>
                                </div>
                            </div>
                            <div class="row" ng-hide="!result.collapse">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="quality space30" ng-if="basket && basket.shoppingCartItems && basket.shoppingCartItems.length>0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">ITEM</th>
                                                        <th></th>
                                                        <th>PRICE</th>
                                                        <th>QTY</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in basket.shoppingCartItems" class="box">
                                                        <td>
                                                            <img class="clickable product-image" ng-src="{{item.ImageUrl}}" alt="{{item.ProductTitle}}" ng-click="go2ProductDetails(item.ProductId)">
                                                        </td>
                                                        <td valign="top">
                                                            <p class="clickable product-title" ng-click="go2ProductDetails(item.ProductId)">{{item.ProductTitle}}</p>
                                                            <p class="clickable product-manufacturer" ng-click="go2ProductDetails(item.ProductId)">{{item.ManufacturerName}}</p>
                                                            <p class="clickable product-supplier" ng-click="go2ProductDetails(item.ProductId)">Sold by: {{getValue(result,item.ProductId,'supplier')}}</p>
                                                            <p class="clickable product-supplier-sku" ng-click="go2ProductDetails(item.ProductId)">Sku: {{getValue(result,item.ProductId,'sku')}}</p>
                                                            <p class="clickable product-supplier-sku" ng-click="go2ProductDetails(item.ProductId)">Delivered from: {{getValue(result,item.ProductId,'distance')}}</p>
                                                        </td>
                                                        <td><p class="fsize22 f600">{{getValue(result,item.ProductId,'price') | currency}}</p></td>
                                                        <td>
                                                            <form>
                                                                <div class="form-group">
                                                                    <select class="form-control custom" ng-model="item.Quantity" ng-options="elem.value as elem.text for elem in item.quantityChoices"></select>

                                                                    <p><span class="remove_text clickable" ng-click="removeItem(item.ProductId)">Remove</span></p>
                                                                </div>
                                                            </form>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--div class="col-md-4 col-sm-12 col-xs-12 space80">
        <div class="score_box">
            <div class="score_white_box basket_title">
                <h3>BASKET PREFERENCES</h3>


                <div class="local space30" ng-repeat="pref in prefs">
                    <p>{{pref.text}}</p>

                    <ul class="list-inline" ng-if="pref.type==='mutualex'">
                        <li ng-repeat="choice in pref.choices">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="pref.value" name="{{pref.name}}" ng-value="{{choice.value}}"><span class="circle"></span><span class="check"></span>
                                    {{choice.text}}
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="text-center space30">
                    <button class="btn btn-default blockbtn loginbtn" ng-click="go2Scenarios()" ng-disabled="!basket.shoppingCartItems || basket.shoppingCartItems.length==0">ANALYZE BASKET<div class="ripple-container"></div></button>
                </div>

            </div>
        </div>
    </div-->
</div>
<!--/basket view-->

<!--scenarios view-->
<div class="row" ng-if="showScenarios && vendorSelectionResults">
    <div class="container">

        <div class="row space20">
            <div class="col-md-12">
                <ul class="breadcrumb text-left">
                    <li>
                        <span class="f600 orangeclr fsize12 clickable" ng-click="go2Basket()">‹ Return to Basket</span>
                    </li>

                </ul>

                <p class="space10 text-center fsize18">{{vendorSelectionResults.length}} different scenarios for you to choose from...</p>

            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12 space30" ng-repeat="elem in scenariosToShow">
                <div class="score_box">
                    <ul class="list-inline score_list">
                        <li><p>SCENARIO {{scenariosPaginationConfig.StartFrom+$index}}</p></li>
                        <li class="pull-right"><p class="f800">SCORE: {{elem.Score}}</p></li>
                    </ul>
                    <div class="score_white_box space10">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class="score_inner_text">
                                    <p>Local Vendor(s): {{elem.OrderingVendors.length}}</p>
                                    <p>Shipping: {{elem.MaxDeliveryDays}} Day Delivery</p>
                                    <p>Shipping Cost: {{elem.TotalEstimatedFreight}} pts</p>
                                    <p>Total Cost: <span class="f800">{{elem.OrderTotal | currency}}</span></p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button class="btn btn-default blockbtn selectbtn space90" ng-click="go2Results(scenariosPaginationConfig.StartFrom+$index-1)">SELECT<div class="ripple-container"></div></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <paginate total-pages="scenariosPaginationConfig.TotalPages" current-page="scenariosPaginationConfig.CurrentPage" on-navigate="navigateToPage(toPage,fromPage)"></paginate>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-default blockbtn loginbtn space30" ng-click="go2Basket()">EDIT BASKET ITEMS<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>
<!--/scenarios view-->

<!--results view-->
<div class="row" ng-if="showResults && scenarioDetailsToShow">
    <div class="container">

        <div class="row space20">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="list-inline text-left">
                    <li>
                        <span class="f600 orangeclr fsize12 clickable" ng-click="go2Basket()">‹ Return to Basket</span>
                    </li>
                    <li>&nbsp;</li>
                    <li>
                        <span class="f600 orangeclr fsize12 clickable" ng-click="switch2Scenarios()">‹ Return to Scenarios</span>
                    </li>

                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="text-right list-inline">
                    <li><a href="mailto:user@email.com?subject=Copy%20Of%20Your%Scenarion" class="orangeclr fsize12"><img src="/Content/images/email.png" alt="" width="20"> &nbsp; Email</a></li>

                    <li><a href="javascript:window.print();" class="orangeclr fsize12"><img src="/Content/images/print.png" alt="" width="20"> &nbsp; Print</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 space20" ng-repeat="elem in scenarioDetailsToShow">
                <div class="score_box">


                    <div class="score_white_box">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4 ">
                                <div class="score_inner_text space40">
                                    <img ng-src="{{elem.ImageUrl}}" alt="{{elem.ProductTitle}}" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8 right-border">
                                <div class="remove">
                                    <p>{{elem.ProductTitle}}<br> ???category???</p>
                                    <p>
                                        {{elem.Sku}} by<br> {{elem.SupplierName}}<br>
                                        {{elem.SupplierUnit}}<br>
                                        Quantity: {{elem.Quantity}} {{elem.SupplierUnit}}<br>
                                        COO: {{elem.Coo}}<br>
                                        Delivery: {{elem.DeliveryDays}} day(s)<br>
                                        Price: {{elem.Price | currency}}<br>
                                        Total: {{elem.Price*elem.Quantity | currency}}
                                    </p>

                                    <a href="#">Remove</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 top50">
                                <div class="pull-right visit">

                                    <img src="/Content/images/layer16.png" class="img-responsive space70 center-block" alt="" width="60">
                                    <button class="btn btn-default blockbtn selectbtn">VISIT WEBSITE<div class="ripple-container"></div></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
<!--/results view-->
