﻿<paginate total-pages="totalPagesX" current-page="currentPageX" on-navigate="navigateToPage(toPage,fromPage)"></paginate>
<input type="text" ng-model="totalPagesX" />
<input type="text" ng-model="currentPageX" />
<button ng-click="showFirstPage=!showFirstPage">showFirstPage</button>
{{showFirstPage}}

