﻿<div class="row space30">
    <div class="col-md-12">
        <div class="pro_description">
            <h3>{{productInformation.ProductTitle}}</h3>
            <p>by {{productInformation.ManufacturerName}}</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="clearfix productsilde">
            <div id="myCarousel" class="carousel vertical slide pull-left">
                <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="img/up.png"></a> -->
                <!-- Carousel items -->
                <div class="custom-carousel-inner carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">

                            <div class="span3 active1">
                                <a href="#x" class="small-thumbnail">
                                    <img ng-src="{{productInformation.ImageUrl}}" alt="Image" data-display="{{productInformation.ImageUrl}}" style="max-width:100%;  width:50px;">
                                </a>
                            </div>


                            <!--div class="span3">
                                <a href="#x" style=" width:100px; " class="small-thumbnail">

                                    <img src="img/layer19.png" alt="Image" data-display="img/layer19.png" style="max-width:100%;">
                                </a>
                            </div>


                            <div class="span3">
                                <a href="#x" style=" width:100px; " class="small-thumbnail">
                                    <img src="img/layer20.png" alt="Image" data-display="img/layer20.png" style="max-width:100%; width:100px;">
                                </a>
                            </div-->

                        </div><!--/row-fluid-->
                    </div><!--/item-->


                    <div class="item">
                        <div class="row-fluid">
                            <div class="span3"><a href="#x" style="width:50px;" class="small-thumbnail"><img ng-src="{{productInformation.ImageUrl}}" alt="Image" data-display="{{productInformation.ImageUrl}}" style="max-width:100%; width:50px;"></a></div>


                            <!--div class="span3"><a href="#x" style=" width:50px; " class="small-thumbnail"><img src="img/layer20.png" alt="Image" data-display="img/layer20.png" style="max-width:100%; width:50px;"></a></div>

                            <div class="span3"><a href="#x" style=" width:50px; " class="small-thumbnail"><img src="img/layer21.png" alt="Image" data-display="img/layer21.png" style="max-width:100%; width:50px;"></a></div-->

                        </div>
                    </div>




                </div><!--/carousel-inner-->
                <!--  <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="img/down.png"></a>  -->
            </div><!--/myCarousel-->
            <div class="pull-left single-container">
                <img ng-src="{{productInformation.ImageUrl}}" style="max-width: 250px; max-height: 250px;" id="DataDisplay" />
            </div>
        </div><!--/well-->
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 line_hr">
        <div class="text1">
            <h4 class="f800">Description</h4>

            <p>{{productInformation.LongDescription}}</p>

            <ul class="space20 list">
                <li ng-if="productInformation.ListPrice"><p>List price: {{productInformation.ListPrice | currency}}/{{productInformation.Unit}}</p></li>
                <li ng-if="productInformation.ManufacturerPartNumber"><p>Mfg part number: {{productInformation.ManufacturerPartNumber}}</p></li>
                <li ng-if="productInformation.GTIN"><p>GTIN/UPC: {{productInformation.GTIN}}</p></li>
                <li ng-if="productInformation.UNSPSC"><p>UNSPSC: {{productInformation.UNSPSC}}</p></li>
                <li ng-if="productInformation.CountryOfOrigin"><p>Country of origin: {{productInformation.CountryOfOrigin}}</p></li>
                <li ng-if="productInformation.Dimensions"><p>Dimensions(in.): {{productInformation.Dimensions}}</p></li>
                <li ng-if="productInformation.Weight"><p>Weight(lb.): {{productInformation.Weight}}</p></li>
            </ul>




        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="price_detail">
            <p class="lheight25" ng-if="productInformation.SupplierName">{{productInformation.SupplierName}}</p>
            <p class="lheight25" ng-if="productInformation.SupplierUnit">Selling unit: {{productInformation.SupplierUnit}}</p>
            <p class="lheight25" ng-if="productInformation.Cost">Price</p>
            <p class="fsize30 lheight45" ng-if="productInformation.Cost">{{productInformation.Cost | currency}}</p>

            <ul class="list-inline">
                <li><p>Quantity</p></li>
                <li>
                    <form>
                        <div class="form-group">
                            <select class="form-control" ng-model="addToCart.quantity" ng-options="elem.value as elem.text for elem in quantityChoices">
                            </select>


                        </div>
                    </form>
                </li>
            </ul>
            <button class="btn btn-default blockbtn loginbtn fsize14" ng-click="addToBasket(addToCart.gtinplus,addToCart.quantity)"><img src="/Content/images/cart2.png" alt="">&nbsp; ADD TO BASKET<div class="ripple-container"></div></button>
            <p class="fsize30 lheight45" ng-if="addToCart.quantity>1">{{(productInformation.Cost*addToCart.quantity) | currency}}</p>
        </div>
    </div>
</div>

<div class="row space20" ng-if="matchesInformation">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4  class="f800">Available From:</h4>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Seller</th>
                    <th>Sku</th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        MinQty
                    </th>
                    <th>
                        COO
                    </th>
                    <th>
                        TAA
                    </th>
                    <th>
                        SellInPacks
                    </th>
                    <th>
                        PackPrice
                    </th>
                    <th>
                        PackQty
                    </th>
                    <th>
                        PackUnit
                    </th>
                    <th>
                        PackSku
                    </th>
                    <th>
                        LeadTime
                    </th>
                    <th>
                        EffectiveDate
                    </th>
                    <th>
                        ExpirationDate
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matchesInformation | orderBy : 'Cost'"><!--ng-if="match.MinimumQty<=addToCart.quantity"-->
                    <td><input name="pVI" type="radio" class="radio" ng-model="productInformation.SupplierId" ng-value="match.SupplierId"></td>
                    <td>{{match.SupplierName}}<p><star-rating ng-model="match.SupplierRating" max="5" readonly="true"></star-rating></p></td>
                    <td>{{match.Sku}}</td>
                    <td>{{match.Cost | currency}}</td>
                    <td>{{match.Unit}}</td>
                    <td>{{match.MinimumQty}}</td>
                    <td>{{match.CountryOfOrigin}}</td>
                    <td>{{match.TAA ? "Yes" : "No"}}</td>
                    <td>{{match.PackRequired ? "Yes" : "No"}}</td>
                    <td>{{match.PackPrice | currency}}</td>
                    <td>{{match.PackQty}}</td>
                    <td>{{match.PackUnit}}</td>
                    <td>{{match.PackSku}}</td>
                    <td>{{match.LeadTime}}</td>
                    <td>{{match.EffectiveDate | date : "MM/dd/yyyy" }}</td>
                    <td>{{match.ExpirationDate | date : "MM/dd/yyyy"}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

