﻿<section id="banner3 animated fadeIn">
    <div class="">
        <div class="container">
            <div class="row row-eq-height">
                <!-- FILTERS -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 filter-box" ng-hide="(!queryResults || !queryResults.Results || queryResults.Results.length<=0) && !config.filterMode">
                    <label for="filter-by-manufacturer-id" class="main-label">Sort By</label>
                    <br />
                    <div class="list-area">
                        <ul>
                            <li ng-repeat="elm in orderByChoices">
                                <lebel class="icheck-label" for="icheck_sort_input{{$index}}" >
                                    <input i-check 
                                           class="icheck-ng-sort-input" 
                                           type="radio" 
                                           name="icheck_ng_sort_input" 
                                           id="icheck-ng-sort-input{{$index}}"
                                           value="{{elm.value}}"
                                           ng-model="productsQuery.OrderBy" 
                                           radio-class="iradio_minimal-orange"
                                           ng-change="sortByChanged()"
                                           />
                                    <!--input class="icheck-sort-input" type="radio" name="icheck_sort_input" id="icheck_sort_input{{$index}}" ng-checked="{{elm.value==productsQuery.OrderBy}}" value="elm.value" /-->
                                    {{elm.text}}
                                </lebel>
                            </li>
                        </ul>
                    </div>                    
                    <br />
                    <label for="filter-by-manufacturer-id" class="main-label">Filter By</label>
                    <br />
                    <label for="filter-by-manufacturer-id" class="list-label">Price</label>
                    <div class="list-area">
                        <div class="slider-area">
                            <!--input type="text" id="pricing-filter" name="pricing_filter" value="" data-min="{{queryResults.MinPrice}}" data-max="{{queryResults.MaxPrice}}" data-from="{{queryResults.MinPrice}}" data-to="{{queryResults.MaxPrice}}" /-->
                            <input ion-range-slider 
                                   id="pricing-filter" 
                                   name="pricing_filter" 
                                   value="" 
                                   data-min="queryResults.MinPrice" 
                                   data-max="queryResults.MaxPrice" 
                                   data-from="filter.MinPrice"
                                   data-to="filter.MaxPrice" 
                                   data-type="double"
                                   data-grid="true"
                                   data-prefix="$"
                                   on-finish="onSliderFinish()"
                                   />
                        </div>
                    </div>
                    <br />
                    <label for="filter-by-manufacturer-id" class="list-label">Manufacturer</label>
                    <div class="list-area" ng-class="queryResults.Manufacturers.length<10 ? 'hide-overflow' : ''">
                        <label ng-class="'icheck-label ' + ($index>10 && !config.manufacturersExpanded  ? 'hide' : '')" ng-repeat="manufacturer in queryResults.Manufacturers" title="{{manufacturer.ManufacturerName}} : {{manufacturer.ProductsCount}}" id="label{{$index}}">
                            <!--input class="icheck-input" type="checkbox" name="manuf" id="{{manufacturer.ManufacturerId}}" /-->
                            <input i-check 
                                   class="icheck-input" 
                                   checkbox-class="icheckbox_minimal-orange"
                                   type="checkbox" 
                                   name="manuf" 
                                   id="{{manufacturer.ManufacturerId}}"
                                   ng-model="filter.Manufacturers[$index]"
                                   ng-change="manufacturersChanged(manufacturer.ManufacturerId)" />
                            {{manufacturer.ManufacturerName.length>17 ? manufacturer.ManufacturerName.substring(0,17)+'...' : manufacturer.ManufacturerName}}
                        </label>
                        <label class="icheck-expander" ng-hide="queryResults.Manufacturers.length<10" ng-click="toggleManufacturersList()">&nbsp;&nbsp;&nbsp;{{config.manufacturersExpanded ?  'less <<<' : 'more >>>'}}</label>
                    </div>
                </div>
                <!-- FILTERS -->
                <!-- PRODUCTS -->
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="container-fluid" ng-hide="!queryResults && !summaryMessage">
                        <!-- header row -->
                        <div class="row" style="margin-top: 25px;">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <ul class="breadcrumb text-left">
                                    <li><p>{{summaryMessage}}</p></li>
                                </ul>
                            </div>
                        </div>
                        <!-- header row -->

                        <div class="row" ng-hide="!queryResults || !queryResults.Results || queryResults.Results.length<=0">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="box" ng-repeat="elem in queryResults.Results">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                                                <a ui-sref="product({productId:elem.ProductId})" href="javascript:void();"><img class="product-image" ng-src="{{elem.ImageUrl}}" /></a>
                                            </div>
                                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                                <a ui-sref="product({productId:elem.ProductId})" href="javascript:void();">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="product-title">{{ (elem.ProductTitle.length>40) ? elem.ProductTitle.substring(0,40)+"..." : elem.ProductTitle }}</div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="product-manufacturer">{{elem.ManufacturerName=='Unknown Manufacturer' ? '' : elem.ManufacturerName+'&nbsp;&nbsp;&nbsp;'}}Part Number:&nbsp;{{elem.ManufacturerPartNumber}} {{elem.ManufacturerRating}}</div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="product-details">{{elem.LongDescription}}</div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="product-details">
                                                                    <ul>
                                                                        <li>&nbsp;</li>
                                                                        <li ng-class="elem.CountryOfOrigin ? '' : 'hide'">Country Of Origin: {{elem.CountryOfOrigin}}</li>
                                                                        <li ng-class="elem.Dimensions ? '' : 'hide'">Dimensions: {{elem.Dimensions}}</li>
                                                                        <li ng-class="elem.GTIN ? '' : 'hide'">GTIN: {{elem.GTIN}}</li>
                                                                        <li ng-class="elem.UNSPSC ? '' : 'hide'">UNSPSC: {{elem.UNSPSC}}</li>
                                                                        <li ng-class="elem.Weight ? '' : 'hide'">Weight: {{elem.Weight}}</li>
                                                                        <!--
                            {{elem.ProductId}}
                            {{elem.ProductRating}}
                            {{elem.ReferenceId}}
                            {{elem.ShortDescription}}
                                {{elem.ManufacturerId}}
                                -->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 no-padding-left">
                                                <div class="container-fluid no-padding-left" >
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                            <div class="product-prices">
                                                                Regular : {{elem.ListPrice | currency}}/{{elem.Unit}}
                                                            </div>
                                                            <div class="product-our-prices">
                                                                {{(elem.PriceMin == elem.PriceMax) ? (elem.PriceMax | currency) : ((elem.PriceMin | currency)+' - '+(elem.PriceMax | currency))}} / {{elem.Unit}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <label class="" for="quantity">Quantity:</label>
                                                                    <input type="text" class="form-control-plaintext" id="quantity{{$index}}" ng-model="quantity[$index]" />
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                            <button type="button" class="btn btn-warning" ng-click="addToBasket(elem.ProductId,$index)">Add to basket</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- products -->
                        <!-- /products -->

                        <!-- pagination -->
                        <div class="row" ng-if="queryResults.TotalPages && queryResults.TotalPages>1">
                            <div class="col-md-12 text-center">
                                <paginate total-pages="queryResults.TotalPages" current-page="queryResults.PageNumber" on-navigate="navigateToPage(toPage,fromPage)"></paginate>
                            </div>
                        </div>
                        <!-- /pagination -->
                    </div>
                </div>
                <!-- PRODUCTS -->
            </div>
        </div>
    </div>
</section>