﻿    <div class="filter space15">
        <span class="material-input2 top2" ng-click="requestSearch($event)"></span>
        <input type='text'
               placeholder='What are you shopping for?'
               class='flexdatalist form-control'
               data-min-length='1'
               data-searchContain='true'
               multiple='multiple'
               list='forSeach'
               name='forSeach'
               ng-model="keyword" 
               ng-keyup="requestSearch($event)"/>
        <datalist id="forSeach">
            <option value="abrasive">abrasive</option>
            <option value="accessories">accessories</option>
            <option value="binder">binder</option>
            <option value="business">business</option>
            <option value="cartridge">cartridge</option>
            <option value="calendar">calendar</option>
            <option value="cleaner">cleaner</option>
            <option value="desk">desk</option>
            <option value="depot">depot</option>
            <option value="folder">folder</option>
            <option value="file">file</option>
            <option value="envelope">envelope</option>
            <option value="electric">electric</option>
            <option value="notebook">notebook</option>
            <option value="paper">paper</option>
            <option value="pen">pen</option>
            <option value="phone">phone</option>
            <option value="staple">staple</option>
            <option value="tablet">tablet</option>
            <option value="toner">toner</option>
        </datalist>
    </div>

