﻿@model List<CapSoft.Identity.Domain.Model.Entities.User>

@{
    ViewBag.Title = "Manage Users";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="container">

            <h2>@ViewBag.Title.</h2>

            @Html.DisplayForModel()

        </div>
    </div>
</div>